<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col size="12">
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                <ion-searchbar placeholder="輸入名稱" [(ngModel)]="search_name" (ionChange)="SearchUser()">
                </ion-searchbar>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                <ion-searchbar placeholder="Input Name" [(ngModel)]="search_name" (ionChange)="SearchUser()">
                </ion-searchbar>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                <ion-searchbar placeholder="输入名称" [(ngModel)]="search_name" (ionChange)="SearchUser()">
                </ion-searchbar>
            </ng-container>

        </ion-col>
    </ion-row>
    <ion-row class="ion-margin" *ngFor="let fu of found_user ; index as fui" style="background: var(--ion-color-background-tint); border-radius: 10px;" (click)="$event.stopPropagation();SelectUser(fu)">
        <ion-col size="3">
            <ion-avatar style="width: 4rem; height: 4rem;">
                <img *ngIf="fu.icon == '' " src="../../assets/imgs/template_icon.jpg">
                <img *ngIf="fu.icon != '' " src="https://intervii.com/media/{{fu.icon}}">
            </ion-avatar>
        </ion-col>
        <ion-col size="9">
            <ion-row>
                <ion-col size="12" style="color: var(--ion-color-major);">{{fu.display_name}}</ion-col>
                <ion-col size="12" style="color: var(--ion-color-major);">{{fu.email}}</ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
<!-- <ion-footer>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <button class="footer_button" style="background: var(--ion-color-major); color: white;" (click)="Apply()"> 加入 </button>
        </ion-col>
    </ion-row>
</ion-footer> -->