.footer_button {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.1rem;
}

ion-footer {
    padding-bottom: constant(safe-area-inset-bottom);
    /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    /* 兼容 iOS >= 11.2 */
}

// .footer_title {
//     background-color: #ffffff;
//     color: grey;
//     width: 30%;
//     font-size: 1.2rem;
//     font-weight: bold;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     padding: 0;
//     opacity: 1 !important;
// }
// .footer_title_wide {
//     background-color: #ffffff;
//     color: grey;
//     width: 60%;
//     font-size: 1.2rem;
//     font-weight: bold;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     padding: 0;
//     opacity: 1 !important;
// }
// .footer_try_btn {
//     width: 30%;
//     font-size: 1.2rem;
//     background-color: pink;
//     padding: 0;
// }
// .right_half_btn {
//     width: 50%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .left_half_btn {
//     width: 50%;
//     font-size: 1.2rem;
//     background-color: pink;
//     padding: 0;
// }
// .footer_buy_btn {
//     width: 40%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_buy_btn.inactive {
//     width: 40%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #222428;
//     padding: 0;
// }
// .footer_large_btn {
//     width: 70%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_full_btn {
//     width: 100%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_full_btn.inactive {
//     width: 100%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #222428;
//     padding: 0;
// }