.row_footer {
    background-color: #1c1c1c; //#AEAEAE;
    height: 10vw;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}