<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-buttons *ngIf="global_service.user_data != undefined && global_service.user_data != null && global_service.user_data.id!=undefined && global_service.user_data.id!=null && vlog.user_id == global_service.user_data.id && global_service.user_data.is_lecturer != undefined && global_service.user_data.is_lecturer != null && (global_service.user_data.is_lecturer == true || global_service.user_data.is_lecturer == 'true') "
            slot="end">
            <ion-button style="--color: var(--ion-color-major);" (click)="EditVlog()">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    編輯
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Edit
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    编辑
                </ng-container>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="vlog != undefined">
        <ion-row>
            <ion-col size="12">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  ('linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+vlog.splash+')')}">
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();GoProfile(vlog.user_id)">
                                <img *ngIf="vlog.icon==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="vlog.icon!=''" src="https://intervii.com/media/{{vlog.icon}}">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            {{vlog.title}}
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;" (click)="Play()">
                  
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    播放VLOG
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                  Play VLOG
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                  播放VLOG
                </ng-container>
                </button>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
            <ion-col size="12" style="color: white;">{{vlog.title}}</ion-col>
            <ion-col size="12" style="color: white;">
                <div [innerHTML]="vlog.content"></div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin" *ngFor="let r of vlog_comment">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;" (click)="$event.stopPropagation();GoProfile(r.user_id)">
                    <img *ngIf="r.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="r.user_icon != '' " src="https://intervii.com/media/{{r.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{r.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">
                        <div [innerHtml]="r.content"></div>
                    </ion-col>
                    <ion-col size="12" style="color: var(--ion-color-major);">{{r.question_time}}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>


    </ion-grid>

    <ion-row class="row_footer" *ngIf="global_service.user_data != undefined && global_service.user_data != null && global_service.user_data.id!=undefined && global_service.user_data.id!=null">
        <ion-col size="10" class="ion-align-self-center" style="height: 100%;">
            <ion-input [(ngModel)]="reply_comment" style="width:80vw; font-size:1rem; line-height:5vw; color:#fff; margin-left:5vw;" placeholder="text...">
            </ion-input>
        </ion-col>
        <ion-col size="2" class="ion-align-self-center" style="height: 100%;">
            <ion-icon name="send" style="font-size:6vw; color: #ED2B6F; margin-right:5vw;" (click)="Send()"></ion-icon>
        </ion-col>
    </ion-row>

</ion-content>
<!-- <ion-footer>
    <ion-row *ngIf="global_service.user_data != undefined && global_service.user_data != null && global_service.user_data.id!=undefined && global_service.user_data.id!=null" class="row_footer">
        <ion-input [(ngModel)]="reply_comment" style="font-size:5vw; line-height:5vw; color:#fff" placeholder="留言"></ion-input>
        <ion-icon name="send" style="font-size:8vw; margin-right:5vw; color: #ED2B6F;" (click)="Send()"></ion-icon>
    </ion-row>
</ion-footer> -->