<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                哪些學生會切合課堂?
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Which audiences are suitable for the course?
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                哪些学生会切合课堂?
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-padding">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">學生需要用到的工具(包含類別，版本細節)</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoTools()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="輸入內容" [(ngModel)]="course.require_tools" name="require_tools" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">學生學習課堂之前所需的背景知識</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoBackground()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="輸入內容" [(ngModel)]="course.require_knowledge" name="require_knowledge" required></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">學完課堂後，學生可以做出什麼東西？</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoAchievement()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="輸入內容" [(ngModel)]="course.learn_result" name="learn_result" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">哪些學生適合這課堂</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoWho()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="輸入內容" [(ngModel)]="course.target_student" name="target_student" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">Which tools the audience needs to use? (including the detail of sort and version)</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoTools()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="Content" [(ngModel)]="course.require_tools" name="require_tools" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">What knowledge audiences need to know before the course?</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoBackground()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="Content" [(ngModel)]="course.require_knowledge" name="require_knowledge" required></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">What result can audiences get from the course?</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoAchievement()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="Content" [(ngModel)]="course.learn_result" name="learn_result" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">Which audiences are suitable for the course?</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoWho()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="Content" [(ngModel)]="course.target_student" name="target_student" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">学生需要用到的工具(包含类别，版本细节)</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoTools()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="输入内容" [(ngModel)]="course.require_tools" name="require_tools" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">学生学习课堂之前所需的背景知识</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoBackground()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="输入内容" [(ngModel)]="course.require_knowledge" name="require_knowledge" required></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">学完课堂後，学生可以做出什麽东西？</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoAchievement()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="输入内容" [(ngModel)]="course.learn_result" name="learn_result" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="10.5" style="font-size: 1.1rem;">哪些学生适合这课堂</ion-col>
                <ion-col size="1.5" class="ion-text-center">
                    <ion-icon style="font-size: 1.6rem; color: white;" (click)="InfoWho()" name="information-circle" large>
                    </ion-icon>
                </ion-col>
                <ion-col size="12">
                    <ion-textarea autoGrow type="text" placeholder="输入内容" [(ngModel)]="course.target_student" name="target_student" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>