<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                編輯VLOG
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Edit VLOG
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                编辑VLOG
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-margin" (click)="uploadPhoto()">
            <ion-col size="6">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    上傳封面
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Upload cover
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    上傳封面
                </ng-container>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="image-outline">
                </ion-icon>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="preview_splash!=''" class="ion-margin">
            <ion-col size="4"></ion-col>
            <ion-col size="8" class="ion-text-right">
                <img src="{{preview_splash}}">
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" (click)="CallLoadVideo()">
            <ion-col size="6">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    上傳影片
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Upload video
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    上传影片
                </ng-container>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                {{preview_video_name}}
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="videocam-outline">
                </ion-icon>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-margin" (click)="viewPhoto()">
            <ion-col size="12">{{vlog_data.video}}</ion-col>
        </ion-row> -->
        <ion-row class="ion-margin">
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-input [(ngModel)]="vlog_data.title" placeholder="標題"></ion-input>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-input [(ngModel)]="vlog_data.title" placeholder="Title"></ion-input>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-input [(ngModel)]="vlog_data.title" placeholder="标题"></ion-input>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-select style="color: white;" placeholder="類別" [(ngModel)]="vlog_data.category" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_zh}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-select style="color: white;" placeholder="Category" [(ngModel)]="vlog_data.category" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_en}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-select style="color: white;" placeholder="类别" [(ngModel)]="vlog_data.category" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_cn}}</ion-select-option>
                    </ion-select>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" (click)="EnterContent()">
            <ion-col size="6">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    輸入內容
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Content
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    输入内容
                </ng-container>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play-outline">
                </ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="UploadData()">{{button_text}}</ion-button>
</ion-footer>