<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{page_title}}</ion-title>
        <ion-buttons slot="end">
            <button style="font-size: 1.1rem; background: transparent; color: white;" (click)="Preview()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
          預覽
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
          Preview
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
          预览
        </ng-container>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid fixed>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            <ion-row class="ion-nowrap" style="width: 100%; overflow-x: visible; overflow-y: hidden; word-wrap: break-word;">
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type1');"><b>B</b></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type2');"><i>I</i></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type3');">H</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type4');">"</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type5');">url</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type6');">img</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type7');">video</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type8');"><ion-icon name="logo-youtube"></ion-icon></button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <textarea style="height: 50vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field (ionBlur)="focusInput(input_field)" [(ngModel)]="content" (click)="field_press(input_field,'click');" (keyup)="field_press(input_field,'keyup');"
                        (touchend)="field_press(input_field,'touchend');" (onChange)="field_press(input_field,'onChange');" (oninput)="field_press(input_field,'oninput');" placeholder="新增內容"></textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-row class="ion-nowrap" style="width: 100%; overflow-x: visible; overflow-y: hidden; word-wrap: break-word;">
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type1');"><b>B</b></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type2');"><i>I</i></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type3');">H</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type4');">"</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type5');">url</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type6');">img</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type7');">video</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type8');"><ion-icon name="logo-youtube"></ion-icon></button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <textarea style="height: 50vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field (ionBlur)="focusInput(input_field)" [(ngModel)]="content" (click)="field_press(input_field,'click');" (keyup)="field_press(input_field,'keyup');"
                        (touchend)="field_press(input_field,'touchend');" (onChange)="field_press(input_field,'onChange');" (oninput)="field_press(input_field,'oninput');" placeholder="Add Content"></textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-row class="ion-nowrap" style="width: 100%; overflow-x: visible; overflow-y: hidden; word-wrap: break-word;">
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type1');"><b>B</b></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type2');"><i>I</i></button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type3');">H</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type4');">"</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type5');">url</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type6');">img</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type7');">video</button>
                </ion-col>
                <ion-col col-2>
                    <button ion-button class="special_button" (click)="click(input_field,'type8');"><ion-icon name="logo-youtube"></ion-icon></button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <textarea style="height: 50vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field (ionBlur)="focusInput(input_field)" [(ngModel)]="content" (click)="field_press(input_field,'click');" (keyup)="field_press(input_field,'keyup');"
                        (touchend)="field_press(input_field,'touchend');" (onChange)="field_press(input_field,'onChange');" (oninput)="field_press(input_field,'oninput');" placeholder="新增內容"></textarea>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>