<ion-header no-border>
    <ion-toolbar>
        <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>已購買</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>已收藏</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>我的課堂</ion-label>
                </ion-segment-button>
                <ion-segment-button value="forth_tab" mode="md">
                    <ion-label>直播時間</ion-label>
                </ion-segment-button>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>Purchased</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>Bookmark</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>Mine</ion-label>
                </ion-segment-button>
                <ion-segment-button value="forth_tab" mode="md">
                    <ion-label>Live</ion-label>
                </ion-segment-button>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>已购买</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>已收藏</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>我的课堂</ion-label>
                </ion-segment-button>
                <ion-segment-button value="forth_tab" mode="md">
                    <ion-label>直播时间</ion-label>
                </ion-segment-button>
            </ng-container>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="color:#fff;" pullFactor={0.5} pullMin={100} pullMax={200}>
    </ion-refresher>
    <ion-grid class="center_item" *ngIf="user_data == null" fixed>
        <ion-row>
            <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    請先登入
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Please login first
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    请先登入
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- <ion-col size="12" [hidden]="swapped"> -->
            <ion-col size="12">
                <button (click)="login()" style="background: var(--ion-color-major); width: 100%; padding: 1rem; color: white; font-size: 1.1rem;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                  登入
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                  Login
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                  登入
                </ng-container></button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="user_data != null" fixed>
        <ion-row class="center_item" *ngIf="connecting_server == false && current_course.length == 0 && user_data != null">
            <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">{{missing_text}}</ion-col>
        </ion-row>


        <ion-row *ngIf="connecting_server == false">
            <!-- <ion-virtual-scroll [items]="current_course"> -->
            <ion-col size="12" *ngFor="let l of current_course">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  (l.icon!=null && l.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.icon+')' : 'url(assets/imgs/banner.jpg)' )}"
                    (click)="OpenCourse(l)">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                            <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                {{l.total_duration}}</ion-label>
                        </ion-col>
                        <!-- <ion-col size="1.5">

            </ion-col> -->
                        <ion-col size="1.5">
                            <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && !user_data.follow_course.includes(l.id)" src="assets/imgs/favorite.png">
                            <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && user_data.follow_course.includes(l.id)" src="assets/imgs/favorite_active.png">
                        </ion-col>
                        <ion-col size="7.5" class="ion-text-right">
                            <ion-chip *ngIf="l.has_live" style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                                <ion-label>LIVE</ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();GoProfile(l.lecturer_id)">
                                <img *ngIf="l.lecturer_icon==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="l.lecturer_icon!=''" src="https://intervii.com/media/{{l.lecturer_icon}}">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            {{l.title}}
                        </ion-col>
                        <ion-col size="8">
                            <ng-container *ngFor="let number of [0,1,2,3,4]">
                                <img style="width: 1.2rem;" *ngIf="number < l.rank && number+0.5 != l.rank" src="assets/imgs/heart.png">
                                <img style="width: 1.2rem;" *ngIf="number+0.5 == l.rank" src="assets/imgs/halfheart.png">
                                <img style="width: 1.2rem;" *ngIf="number+0.5 > l.rank && number+0.5 != l.rank" src="assets/imgs/greyheart.png">
                            </ng-container>
                        </ion-col>
                        <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">

                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                {{(l.price == 3 ? '免費' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                {{(l.price == 3 ? 'Free' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                {{(l.price == 3 ? '免费' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
            <!-- </ion-virtual-scroll> -->
        </ion-row>



        <ion-row *ngIf="connecting_server == true">
            <ion-col size="12">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':'url(assets/imgs/loading_bg.png)' }">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                            <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                0</ion-label>
                        </ion-col>
                        <ion-col size="1.5">
                            <img style="width: 1.2rem; vertical-align: middle;" src="assets/imgs/favorite.png">
                        </ion-col>
                    </ion-row>
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img src="assets/imgs/template_icon.jpg">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            -----
                        </ion-col>
                        <ion-col size="8">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                        </ion-col>
                        <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                            HK$ --
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
            <ion-col size="12">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':'url(assets/imgs/loading_bg.png)' }">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                            <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                0</ion-label>
                        </ion-col>
                        <ion-col size="1.5">
                            <img style="width: 1.2rem; vertical-align: middle;" src="assets/imgs/favorite.png">
                        </ion-col>
                    </ion-row>
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img src="assets/imgs/template_icon.jpg">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            -----
                        </ion-col>
                        <ion-col size="8">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                        </ion-col>
                        <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                            HK$ --
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>




    </ion-grid>
</ion-content>