<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid fixed>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row (click)="StepOneTitle()" class="ion-padding">
                <ion-col size="3.5">課堂標題</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">一個好的標題是成功的一半</span>
                    <span [hidden]="!is_title_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepTwoTarget()" class="ion-padding">
                <ion-col size="3.5">課堂目標</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">哪些學生會切合課堂</span>
                    <span [hidden]="!is_target_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepThreeUnit()" class="ion-padding">
                <ion-col size="3.5">設計單元</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">課堂涵蓋內容</span>
                    <span [hidden]="!is_unit_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFourPrice()" class="ion-padding">
                <ion-col size="3.5">預計費用</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">課堂收費</span>
                    <span [hidden]="!is_price_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFiveCoursework()" class="ion-padding">
                <ion-col size="3.5">作業評估</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">預定作業評估成效</span>
                    <span [hidden]="!is_coursework_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSixContent()" class="ion-padding">
                <ion-col size="3.5">詳細內容</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">課堂內容</span>
                    <span [hidden]="!is_content_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSevenUrl()" class="ion-padding">
                <ion-col size="3.5">課堂網址</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">社交媒體宣傳一呼百應</span>
                    <span [hidden]="!is_url_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-row (click)="StepOneTitle()" class="ion-padding">
                <ion-col size="3.5">Course title</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">A good title is half done</span>
                    <span [hidden]="!is_title_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepTwoTarget()" class="ion-padding">
                <ion-col size="3.5">Target</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Which audiences are fit the course?</span>
                    <span [hidden]="!is_target_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepThreeUnit()" class="ion-padding">
                <ion-col size="3.5">Design course unit</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Course content</span>
                    <span [hidden]="!is_unit_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFourPrice()" class="ion-padding">
                <ion-col size="3.5">Course price</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Course fee</span>
                    <span [hidden]="!is_price_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFiveCoursework()" class="ion-padding">
                <ion-col size="3.5">Assessment</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Arrange the evaluation of assignment</span>
                    <span [hidden]="!is_coursework_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSixContent()" class="ion-padding">
                <ion-col size="3.5">Content detail</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Course content</span>
                    <span [hidden]="!is_content_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSevenUrl()" class="ion-padding">
                <ion-col size="3.5">Course URL</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">Connect with your social network</span>
                    <span [hidden]="!is_url_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-row (click)="StepOneTitle()" class="ion-padding">
                <ion-col size="3.5">课堂标题</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">一个好的标题是成功的一半</span>
                    <span [hidden]="!is_title_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepTwoTarget()" class="ion-padding">
                <ion-col size="3.5">课堂目标</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">哪些学生会切合课堂</span>
                    <span [hidden]="!is_target_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepThreeUnit()" class="ion-padding">
                <ion-col size="3.5">设计单元</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">课堂涵盖内容</span>
                    <span [hidden]="!is_unit_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFourPrice()" class="ion-padding">
                <ion-col size="3.5">预计费用</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">课堂收费</span>
                    <span [hidden]="!is_price_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepFiveCoursework()" class="ion-padding">
                <ion-col size="3.5">作业评估</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">预定作业评估成效</span>
                    <span [hidden]="!is_coursework_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSixContent()" class="ion-padding">
                <ion-col size="3.5">详细内容</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">课堂内容</span>
                    <span [hidden]="!is_content_done" style="color: var(--ion-color-major); font-size: 1.2rem; ">&nbsp; ✓</span>
                </ion-col>
            </ion-row>
            <ion-row (click)="StepSevenUrl()" class="ion-padding">
                <ion-col size="3.5">课堂网址</ion-col>
                <ion-col size="8.5">
                    <span style="color: var(--ion-color-medium-tint);">社交媒体宣传一呼百应</span>
                    <span [hidden]="!is_url_done" style="color: var(--ion-color-major); font-size: 1.2rem; "> &nbsp; ✓</span>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" [hidden]="is_finished_btn_hidden" (click)="Finished()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            上架
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Release
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            上架
        </ng-container>
    </ion-button>
</ion-footer>