<ion-header no-border class="login_header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-margin">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;">
                    <img *ngIf="question_data.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="question_data.user_icon != '' " src="https://intervii.com/media/{{question_data.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{question_data.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">{{question_data.question_time}}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="12" style="color: white;">{{question_data.title}}</ion-col>
            <ion-col size="12" style="color: white;">
                <div [innerHtml]="question_data.content"></div>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let r of reply" class="ion-margin ion-padding" style="border: 1px solid var(--ion-color-dark-tint);">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;">
                    <img *ngIf="r.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="r.user_icon != '' " src="https://intervii.com/media/{{r.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{r.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">
                        <div [innerHtml]="r.content"></div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer *ngIf="purchase || course_detail.lecturer_id==user_id">
    <ion-toolbar style="--background: var(--ion-color-background-tint) !important;">
        <ion-row>
            <ion-col size="9">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-input [(ngModel)]="reply_comment" style="color:white" placeholder="回應問題">
                    </ion-input>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-input [(ngModel)]="reply_comment" style="color:white" placeholder="Replay question">
                    </ion-input>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-input [(ngModel)]="reply_comment" style="color:white" placeholder="回应问题">
                    </ion-input>
                </ng-container>

            </ion-col>
            <ion-col size=" 3 " class="ion-text-center ">
                <ion-icon name="send " style="font-size:1.6rem " (click)="Send() "></ion-icon>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>