<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                上傳課堂作業
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Upload Assignment
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                上传课堂作业
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-select style="color: white;" placeholder="作業" [(ngModel)]="assignment_id" (ionChange)="SelectedCourseworkChange($event)" class="select_course">
                    <ion-select-option *ngFor="let i of coursework_list" value="{{i.id}}">{{i.title}}</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col size="6"></ion-col>
        </ion-row>

        <ion-row class="ion-margin" (click)="uploadPhoto()">
            <ion-col size="6">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    上傳作業影片/圖片
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Upload Video/Image
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    传作业影片/图片
                </ng-container>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                </ion-icon>
                <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
        </ion-icon> -->
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin" (click)="EnterContent()">
            <ion-col size="6">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    輸入作業內容
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Assignment Content
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    输入作业内容
                </ng-container>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="arrow-forward">
                </ion-icon>
                <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
        </ion-icon> -->
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            提交作業
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Apply Assignment
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            提交作业
        </ng-container>
    </ion-button>
</ion-footer>