<ion-header no-border class="login_header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-margin">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;">
                    <img *ngIf="comment_data.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="comment_data.user_icon != '' " src="https://intervii.com/media/{{comment_data.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{comment_data.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">
                        <ion-icon style="margin-right: 1rem;" name="star" class="star"></ion-icon>{{comment_data.rank}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="12" style="color: white;">{{comment_data.title}}</ion-col>
            <ion-col size="12" style="color: white;">
                <div [innerHtml]="comment_data.content"></div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>