<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="from!='login'" slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                編輯個人資料
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                编辑个人资料
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-margin" (click)="uploadIcon()">
            <ion-col size="3">
                <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                    <img *ngIf="user_data.icon == '' || user_data.icon == null" src="assets/imgs/template_icon.jpg">
                    <img *ngIf="user_data.icon != null && user_data.icon != ''" src="https://intervii.com/media/{{user_data.icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    更改個人頭像
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Change profile picture
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    更改个人头像
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" (click)="uploadBanner()">
            <ion-col size="9">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    更改封面圖案
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Change cover image
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    更改封面图案
                </ng-container>
            </ion-col>
            <ion-col size="3">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="user_data.banner!=''" class="ion-margin">
            <ion-col size="4"></ion-col>
            <ion-col size="8" class="ion-text-right">
                <img src="https://intervii.com/media/{{user_data.banner}}">
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="3">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    顯示名稱
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Display Name
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    显示名称
                </ng-container>
            </ion-col>
            <ion-col size="9">
                <ion-input type="text" [(ngModel)]="display_name" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="3">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    電郵
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Email
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    电邮
                </ng-container>
            </ion-col>
            <ion-col size="9">
                <!-- {{user_data.email}} -->
                <ion-input type="text" [(ngModel)]="user_data.email" [disabled]="!no_email" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="3">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    電話號碼
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Mobile
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    电话号码
                </ng-container>
            </ion-col>
            <ion-col size="9">
                <ion-input type="number" min="0" [(ngModel)]="phone" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="3">
                Facebook
            </ion-col>
            <ion-col size="9">
                <ion-input type="text" [(ngModel)]="fb_name" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="3">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    網站
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    URL
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    网站
                </ng-container>
            </ion-col>
            <ion-col size="9">
                <ion-input type="url" [(ngModel)]="website" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="user_data.fb_id == undefined || user_data.fb_id == ''">
            <ion-col size="3">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    新密碼
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    New password
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    新密码
                </ng-container>
            </ion-col>
            <ion-col size="9">
                <ion-input type="password" [(ngModel)]="password" text-right></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" (click)="EnterContent()">
            <ion-col size="9">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    個人簡介
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Personal profile
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    个人简介
                </ng-container>
            </ion-col>
            <ion-col size="3">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="update()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            儲存
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Save
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            储存
        </ng-container>
    </ion-button>
</ion-footer>