<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                設計課堂單元
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Design course unit
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                设计课堂单元
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <div style="display: none;">
            <input type="file" id="pwa_upload" #pwa_upload (change)="uploadPWA()">
        </div>
        <div style="display: none;">
            <input type="file" id="pwa_upload_EXTRA" #pwa_upload_EXTRA (change)="uploadPWAEXTRA()">
        </div>
        <ion-row *ngFor="let i of multi_coursework, let ind = index">
            <ion-col size="12">
                <ion-row>
                    <ion-col size="12">
                        <ion-row>
                            <ion-col size="10">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    作業評估
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Assessment
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    作业评估

                                </ng-container>
                            </ion-col>
                            <ion-col size="2" class="ion-text-center">
                                <ion-icon (click)="DeleteCoursework(ind)" style="font-size: 1.4rem; color: white !important;" name="remove-circle"></ion-icon>
                            </ion-col>
                            <ng-container *ngIf="!i.active && global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                <ion-col size="12" *ngIf="!i.active" style="color:#f00;">作業已被停用，請聯絡cs@intervii.com</ion-col>
                            </ng-container>
                            <ng-container *ngIf="!i.active && global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                <ion-col size="12" *ngIf="!i.active" style="color:#f00;">Assignment has been inactive, please contact cs@intervii.com</ion-col>
                            </ng-container>
                            <ng-container *ngIf="!i.active && global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                <ion-col size="12" *ngIf="!i.active" style="color:#f00;">作业已被停用，请联络cs@intervii.com</ion-col>
                            </ng-container>
                            <ion-col size="12">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    <ion-input [(ngModel)]="i.coursework_title" placeholder="輸入標題"></ion-input>
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    <ion-input [(ngModel)]="i.coursework_title" placeholder="Input Content"></ion-input>
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    <ion-input [(ngModel)]="i.coursework_title" placeholder="输入标题"></ion-input>
                                </ng-container>

                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="12">
                        <ion-row (click)="Upload(ind)">
                            <ion-col size="6">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    上傳作業影片/圖片
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Upload video / image of assignment
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    上传作业影片/图片
                                </ng-container>
                            </ion-col>
                            <ion-col size="6" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                                </ion-icon>
                                <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                </ion-icon> -->
                            </ion-col>
                        </ion-row>
                        <ng-container *ngIf="i.file_name != undefined && i.file_name != null && i.file_name != ''">
                            <ng-container *ngIf="i.file_data != undefined && i.file_data != null && i.file_data != ''">
                                <ion-col size="12" class="text_overflow_dot">
                                    {{i.file_name}}
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf="i.file_data == undefined || i.file_data == null || i.file_data == ''">
                                <ion-col size="10" (click)="OpenFile(ind)">

                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        目前檔案
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Current File
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        目前档案
                                    </ng-container>
                                </ion-col>
                                <ion-col size="2" class="ion-text-right" (click)="OpenFile(ind)">
                                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="OpenFile(ind)">
                                    </ion-icon>
                                </ion-col>
                            </ng-container>
                        </ng-container>
                    </ion-col>

                    <ion-col size="12">
                        <ion-row (click)="UploadExtra(ind)">
                            <ion-col size="6">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    上傳額外檔案
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Upload extra file
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    上传额外档案
                                </ng-container>
                            </ion-col>
                            <ion-col size="6" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                                </ion-icon>
                                <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                </ion-icon> -->
                            </ion-col>
                        </ion-row>
                        <ng-container *ngIf="i.extra_file_name != undefined && i.extra_file_name != null && i.extra_file_name != ''">
                            <ng-container *ngIf="i.extra_file_data != undefined && i.extra_file_data != null && i.extra_file_data != ''">
                                <ion-col size="12" class="text_overflow_dot">
                                    {{i.extra_file_name}}
                                </ion-col>
                            </ng-container>
                            <ng-container *ngIf="i.extra_file_data == undefined || i.extra_file_data == null || i.extra_file_data == ''">
                                <ion-col size="10" (click)="OpenExtraFile(ind)">

                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        目前檔案
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Current File
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        目前档案
                                    </ng-container>
                                </ion-col>
                                <ion-col size="2" class="ion-text-right" (click)="OpenExtraFile(ind)">
                                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="OpenFile(ind)">
                                    </ion-icon>
                                </ion-col>
                            </ng-container>
                        </ng-container>
                    </ion-col>

                    <ion-col size="12">
                        <ion-row (click)="EnterContent(ind)">
                            <ion-col size="6">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    輸入內容
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Content
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    输入内容
                                </ng-container>
                            </ion-col>
                            <ion-col size="6" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="create-outline">
                                </ion-icon>
                                <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                </ion-icon> -->
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin ion-padding">
            <ion-col size="12">
                <ion-button style="--background-focused: transparent; --background-activated: transparent; --background: transparent; border: 2px dashed white;" expand="block" (click)="AddCoursework()">+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>