<ion-header>
    <ion-toolbar>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                建立課堂
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Build Course
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                建立课堂
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <img src="assets/imgs/thumbnail.jpeg">
    <!-- <ion-row class="build_btn">
      <button (click)="BuildCourse()" ion-button>建立課堂</button>
  </ion-row> -->
</ion-content>
<ion-footer>
    <ion-button style="--background-focused: var(--ion-color-major); --background-activated: var(--ion-color-major);	--background: var(--ion-color-major);" expand="block" (click)="BuildCourse()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            建立課堂
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Build Course
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            建立课堂
        </ng-container>
    </ion-button>
</ion-footer>