<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                標題和描述
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Title and Description
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                标题和描述
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-select placeholder="類別" [(ngModel)]="course.tag" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_zh}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-select placeholder="Category" [(ngModel)]="course.tag" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_en}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-select placeholder="类别" [(ngModel)]="course.tag" name="cate">
                        <ion-select-option *ngFor="let o of global_service.categories" value="{{o.id}}" flex-end>{{o.name_cn}}</ion-select-option>
                    </ion-select>
                </ng-container>

            </ion-col>
        </ion-row>
        <ion-row (click)="EnterContent()">
            <ion-col offset="0.5" size="8.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    輸入詳細內容
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Input Content
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    输入详细内容
                </ng-container>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem; color: white !important;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>