.login_header {
    ion-header,
    ion-toolbar,
    .toolbar-container {
        height: 27vw !important;
        --min-height: 30vw !important;
    }
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.register_button {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #ed2b6f;
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
    padding: 65vw 5vw 5vw 0; //65vw 0 5vw 5vw;
    position: absolute;
    -webkit-animation-name: register;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: register;
    // margin-left: -20vw;
    margin-right: -20vw;
    margin-top: -55vw;
    top: 0;
    // left: 0;
    right: 0;
    z-index: 40;
}

.login_button {
    color: white; //#ED2B6F;
    font-size: 0;
    background-color: pink;
    height: 80vw;
    width: 80vw;
    border-radius: 50%;
    position: absolute;
    padding: 65vw 5vw 5vw 0; //65vw 0 5vw 5vw;
    -webkit-animation-name: login;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: login;
    // margin-left: 0vw;
    margin-right: 0;
    margin-top: -60vw;
    top: 0;
    // left: 0;
    right: 0;
    z-index: 30;
}

@-webkit-keyframes register {
    0% {
        //background-color: #FFF;
        margin-left: 0;
        margin-right: 0;
        margin-top: -60vw;
        font-size: 0;
    }
    // 25%  {background-color:yellow; left:8vw; top:0px;}
    //50%  {background-color: #6F7BBF}
    // 75%  {background-color:green; left:0px; top:200px;}
    100% {
        //  background-color: #ED2B6F;
        // margin-left: -20vw;
        margin-right: -20vw;
        margin-top: -55vw;
        padding: 65vw 5vw 5vw 0; //65vw 0 5vw 5vw;
        font-size: 1.2rem;
    }
}

@-webkit-keyframes login {
    0% {
        //  background-color: #ED2B6F;
        // margin-left: -20vw;
        margin-right: -20vw;
        margin-top: -55vw;
        z-index: 50;
    }
    // 25%  {background-color:yellow; left:8vw; top:0px;}
    50% {
        margin-top: -120vw;
        // margin-left: -10vw;
        margin-right: -10vw;
        z-index: 30;
    }
    // 75%  {background-color:green; left:0px; top:200px;}
    100% {
        //  background-color: #FFF;
        // margin-left: 0vw;
        margin-right: 0;
        margin-top: -60vw;
    }
}

ion-item {
    --inner-border-width: 0;
    --background: var(--ion-color-background);
    --color: white;
}

.item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    border-style: unset !important;
}

.each_item {
    border-bottom: 0.55px solid #fff;
    width: 100%;
    background-color: transparent;
}

.item-ios.item-block .item-inner {
    border: none;
}

.item-md.item-block .item-inner {
    border: none;
}

.item_failure_shake {
    border-bottom: 0.55px solid red;
    background-color: transparent;
    -webkit-animation-name: shake;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: shake;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}

.item_failure {
    border-bottom: 0.55px solid red;
    background-color: transparent;
}

.item_pass {
    border-bottom: 0.55px solid green;
    background-color: transparent;
}

.pop_button {
    font-size: 2rem;
    color: white;
    background-color: transparent;
    position: absolute;
    top: 10vw;
    left: 0;
}

.input_title_filled {
    width: 0px;
    font-size: 1rem;
    top: -100%;
    overflow: visible;
}

ion-input {
    border-bottom: none;
}