<ion-header no-border class="login_header">
    <ion-toolbar>
        <ion-buttons slot="start" style="margin-left: 2rem;">
            <ion-back-button mode='md' text="" style="color: white; --color: white; --icon-font-size: 2rem;">
            </ion-back-button>
        </ion-buttons>
        <button id="login_btn" class="login_button" (click)="SwapPage()" ion-buttons>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            登錄
          </ng-container>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Login
          </ng-container>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            登录
          </ng-container>
        </button>
        <button id="register_btn" class="register_button" (click)="SwapPage()" ion-buttons>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            註冊
          </ng-container>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Register
          </ng-container>
          <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            注册
          </ng-container>
        </button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <div [hidden]="swapped">
            <ion-row class="ion-margin">
                <ion-col size="12" style="font-size: 2rem;">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        登錄
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Login
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        登录
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item [class.each_item]="IsLogEmailNormal()" [class.item_failure_shake]="IsLogEmailFail()" [class.item_pass]="IsLogEmailPass()">
                        <ion-label class="input_title" position="floating">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                電郵地址
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Email
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                电邮地址
                            </ng-container>
                        </ion-label>
                        <ion-input lines="none" type="email" [(ngModel)]="data.email" (ionFocus)="addFoucs()" (ionBlur)="LoginEmailCheck();resuceFocus();" placeholder=""></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">{{login_hidden_message}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [class.each_item]="password_normal" [class.item_failure_shake]="password_failed" [class.item_pass]="password_passed">
                        <ion-label class="input_title" position="floating">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                密碼
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Password
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                密码
                            </ng-container>
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="data.password" (ionFocus)="addFoucs()" (ionBlur)="CheckPassword();resuceFocus();" placeholder=""></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">{{password_failed_message}}</ion-col>
            </ion-row>
        </div>

        <div [hidden]="!swapped">
            <ion-row class="ion-margin">
                <ion-col size="12" style="font-size: 2rem;">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        註冊
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Register
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        注册
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item [class.each_item]="IsRegEmailNormal()" [class.item_failure_shake]="IsRegEmailFail()" [class.item_pass]="IsRegEmailPass()">
                        <ion-label class="input_title" position="floating">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                電郵地址
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Email
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                电邮地址
                            </ng-container>
                        </ion-label>
                        <ion-input lines="none" [(ngModel)]="data.email" (ionFocus)="addFoucs()" (ionBlur)="CheckEmailExist();resuceFocus();" placeholder=""></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12" [hidden]="!hidden_message_show">{{hidden_message}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [class.each_item]="password_normal" [class.item_failure_shake]="password_failed" [class.item_pass]="password_passed">
                        <ion-label class="input_title" position="floating">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                密碼
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Password
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                密码
                            </ng-container>
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="data.password" (ionFocus)="addFoucs()" (ionBlur)="CheckPassword();resuceFocus();" placeholder=""></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">{{password_failed_message}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item [class.each_item]="confirm_normal" [class.item_failure_shake]="confirm_failed" [class.item_pass]="confirm_passed">
                        <ion-label class="input_title" position="floating">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                確認密碼
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Confirm Password
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                确认密码
                            </ng-container>
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="data.confirm_password" (ionFocus)="addFoucs()" (ionBlur)="ConfirmPassword();resuceFocus();" placeholder=""></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12" class="input_alert_message">{{confirm_failed_message}}</ion-col>
            </ion-row>
        </div>

        <ion-row style="margin-top: 4rem;">
            <ion-col size="12" [hidden]="swapped">
                <button (click)="Login()" style="background: var(--ion-color-major); width: 100%; padding: 1rem; color: white; font-size: 1.1rem;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    登錄
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Login
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    登录
                  </ng-container></button>
            </ion-col>
            <ion-col size="12" [hidden]="swapped">
                <button (click)="Forget()" style="background: var(--ion-color-major); width: 100%; padding: 1rem; color: white; font-size: 1.1rem;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    忘記密碼
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Forget password
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    忘记密码
                  </ng-container></button>
            </ion-col>
            <ion-col size="12" [hidden]="!swapped">
                <button (click)="Register()" style="background: var(--ion-color-major); width: 100%; padding: 1rem; color: white; font-size: 1.1rem;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    註冊
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Register
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    注册
                  </ng-container></button>
            </ion-col>
            <ion-col size="12" *ngIf="platform.is('android')">
                <button (click)="FacebookLogin()" style="width: 100%; padding: 0.4rem; background: #3B5998; font-size: 1.1rem;">
          <ion-row>
            <ion-col size="4" class="ion-text-right"><img style="width: 2rem;" src="assets/imgs/bookface.png"></ion-col>
            <ion-col size="8" class="ion-text-left">
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                使用facebook登入
              </ng-container>
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                facebook Login
              </ng-container>
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                使用facebook登入
              </ng-container>
            </ion-col>
          </ion-row>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>