.cancel-btn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.item-background {
    background-color: transparent;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.special_button {
    width: 10vw;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: #ED2C6F;
}

.title_area_zone {
    width: 100%;
    height: 30vw;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: solid 0px black;
}

.text_area_zone {
    width: 100%;
    height: 100vw;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: solid 0px black;
}

ion-footer {
    background-color: #ED2C6F;
}

.submit-btn {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

.item-inner {
    border-bottom: 0px solid white !important;
}