<ion-header no-border class="login_header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 新增評論 </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Add Review </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 新增评论 </ng-container>
        </ion-title>
        <ion-buttons slot="end">
            <button class="cancel-btn" (click)="Preview()">
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 預覽 </ng-container>
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Preview </ng-container>
              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 预览 </ng-container></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-label>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        評分
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Raating
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        评分
                    </ng-container>
                </ion-label>
                <ng-container *ngFor="let item of [1,2,3,4,5]; let i = index;">
                    <ion-icon *ngIf="item <= rank" name="star" (click)="SetRank(item)" style="margin-left: 1rem;"></ion-icon>
                </ng-container>
                <ng-container *ngFor="let item of [1,2,3,4,5]; let i = index;">
                    <ion-icon *ngIf="item > rank" name="star-outline" (click)="SetRank(item)" style="margin-left: 1rem;"></ion-icon>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <textarea #input_field class="title_area_zone" [(ngModel)]="title" placeholder="標題"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <textarea #input_field class="title_area_zone" [(ngModel)]="title" placeholder="Title"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <textarea #input_field class="title_area_zone" [(ngModel)]="title" placeholder="标题"></textarea>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <textarea #input_field class="text_area_zone" style="height:100vw;" [(ngModel)]="content" placeholder="新增內容"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <textarea #input_field class="text_area_zone" style="height:100vw;" [(ngModel)]="content" placeholder="Content"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <textarea #input_field class="text_area_zone" style="height:100vw;" [(ngModel)]="content" placeholder="新增內容"></textarea>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Submit()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 提交 </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Apply </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 提交 </ng-container>
    </ion-button>
</ion-footer>