<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            <ion-title>設定</ion-title>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-title>Setting</ion-title>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-title>设定</ion-title>
        </ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col offset="0.5" size="5.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    語言
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Language
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    语言
                </ng-container>
            </ion-col>
            <ion-col size="6">
                <ion-select placeholder="" [(ngModel)]="lang" (ionChange)="updateLang()" placeholder="">
                    <ion-select-option value="zh">繁中</ion-select-option>
                    <ion-select-option value="cn">簡中</ion-select-option>
                    <ion-select-option value="en">ENG</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="global_service.user_id != undefined && global_service.user_id != 0 && global_service.user_data != undefined && global_service.user_data != null">
            <ion-col offset="0.5" size="5.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    地區
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Region
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    地区
                </ng-container>
            </ion-col>
            <ion-col size="6">
                <ion-select placeholder="" [(ngModel)]="user_data.region" (ionChange)="updateZone()" placeholder="">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-select-option value="hk">香港 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="tw">中華民國 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">中華人民共和國 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="rep_ost">奧地利 (UTC +01:00)</ion-select-option>
                        <ion-select-option value="esp">西班牙 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="gre">希臘 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">美國-加利福尼亞州 (UTC −08:00)</ion-select-option>
                        <ion-select-option value="china">美國-華盛頓特區 (UTC -05:00)</ion-select-option>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-select-option value="hk">Hong Kong (UTC +08:00)</ion-select-option>
                        <ion-select-option value="tw">Republic of China (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">People's Republic of China (UTC +08:00)</ion-select-option>
                        <ion-select-option value="rep_ost">Austria (UTC +01:00)</ion-select-option>
                        <ion-select-option value="esp">Spain (UTC +08:00)</ion-select-option>
                        <ion-select-option value="gre">Hellenic Republic (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">U.S.A.-California (UTC −08:00)</ion-select-option>
                        <ion-select-option value="china">U.S.A.-Washington D.C. (UTC -05:00)</ion-select-option>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-select-option value="hk">香港 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="tw">中华民国 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">中华人民共和国 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="rep_ost">奥地利 (UTC +01:00)</ion-select-option>
                        <ion-select-option value="esp">西班牙 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="gre">希腊 (UTC +08:00)</ion-select-option>
                        <ion-select-option value="china">美国-加利福尼亚州 (UTC −08:00)</ion-select-option>
                        <ion-select-option value="china">美国-华盛顿特区 (UTC -05:00)</ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="global_service.user_id != undefined && global_service.user_id != 0 && global_service.user_data != undefined && global_service.user_data != null && user_data != undefined && user_data != null && user_data.notification_on != undefined && user_data.notification_on != null">
            <ion-col offset="0.5" size="8.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    通知
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Notification
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    通知
                </ng-container>
            </ion-col>
            <ion-col size="3">
                <ion-toggle style="--background-checked: var(--ion-color-major);" end [(ngModel)]="user_data.notification_on" (ionChange)="updateNotification()"></ion-toggle>
            </ion-col>
        </ion-row>

        <!-- <ion-row>
            <ion-col offset="0.5" size="8.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    關於我們
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    About Us
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    关於我们
                </ng-container>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row> -->

        <ion-row (click)="contact()">
            <ion-col offset="0.5" size="8.5">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    聯絡我們
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Contact Us
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    联络我们
                </ng-container>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row (click)="privacy()">
            <ion-col offset="0.5" size="8.5">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    條款細則
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Policy & Terms
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    条款细则
                </ng-container>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="global_service.user_id != undefined && global_service.user_id != 0 && global_service.user_data != undefined && global_service.user_data != null" (click)="logout()">
            <ion-col offset="0.5" size="8.5">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    登出
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Logout
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    登出
                </ng-container>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
                <ion-icon style="font-size: 1.4rem;" name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>