
ion-tab-bar {

    --background: var(--ion-color-background);

    ion-tab-button{
        ion-icon{
            color: var(--ion-color-medium);        
        }
    }
    ion-tab-button[aria-selected=true] {
        ion-icon{
            color: var(--ion-color-major) !important;
        }
    }
  }