<!-- <ion-tabs tabsPlacement="bottom" selectedIndex='2' #maintab>
    <ion-tab [root]="tab1Root" tabIcon="school"></ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="people"></ion-tab>
    <ion-tab [root]="tab3Root" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="film"></ion-tab>
    <ion-tab [root]="tab5Root" tabIcon="paper"></ion-tab>
</ion-tabs> -->

<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="my-course">
            <ion-icon name="school"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="follow-tutor">
            <ion-icon name="people"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="vlog">
            <ion-icon name="film"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="build-course">
            <ion-icon name="reader-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>