<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                標題和描述
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Title and Introduction
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                标题和描述
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid fixed class="ion-padding">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row>
                <ion-col size="3.5">課堂封面{{file_name}}</ion-col>
                <ion-col size="8.5" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="uploadPhoto()"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">課堂標題</ion-col>
                <ion-col size="8.5">
                    <ion-input type="text" placeholder="新增標題" [(ngModel)]="course.title" name="title" required></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">課堂介紹</ion-col>
                <ion-col size="8.5">
                    <ion-textarea autoGrow type="text" placeholder="簡述" [(ngModel)]="course.intro" name="intro" required></ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

            <ion-row>
                <ion-col size="3.5">Cover image{{file_name}}</ion-col>
                <ion-col size="8.5" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="uploadPhoto()"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">Course's title</ion-col>
                <ion-col size="8.5">
                    <ion-input type="text" placeholder="Add Title" [(ngModel)]="course.title" name="title" required></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">Course introduction</ion-col>
                <ion-col size="8.5">
                    <ion-textarea autoGrow type="text" placeholder="Introduction" [(ngModel)]="course.intro" name="intro" required></ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

            <ion-row>
                <ion-col size="3.5">课堂封面{{file_name}}</ion-col>
                <ion-col size="8.5" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="uploadPhoto()"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">课堂标题</ion-col>
                <ion-col size="8.5">
                    <ion-input type="text" placeholder="新增标题" [(ngModel)]="course.title" name="title" required></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="3.5">课堂介绍</ion-col>
                <ion-col size="8.5">
                    <ion-textarea autoGrow type="text" placeholder="简述" [(ngModel)]="course.intro" name="intro" required></ion-textarea>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-button expand="full" (click)="Dismiss()" class="submit_btn">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>