<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 新增問題 </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Add Question </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 新增问题 </ng-container>
        </ion-title>
        <ion-buttons slot="end">
            <button style="font-size: 1.1rem; background: transparent; color: white;" (click)="Preview()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 預覽 </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Preview </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 预览 </ng-container>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <textarea style="height: 20vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="title" placeholder="標題"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <textarea style="height: 20vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="title" placeholder="Title"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <textarea style="height: 20vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="title" placeholder="标题"></textarea>
                </ng-container>
            </ion-col>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <textarea style="height: 40vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="content" placeholder="新增內容"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <textarea style="height: 40vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="content" placeholder="Content"></textarea>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <textarea style="height: 40vh; background: transparent; width: 100%; outline: 0;" autoGrow type="text" #input_field [(ngModel)]="content" placeholder="新增內容"></textarea>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Submit()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')"> 提交 </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'"> Apply </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'"> 提交 </ng-container>
    </ion-button>
</ion-footer>