<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <!-- <ion-title>上傳課堂作業</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <!-- <ion-item *ngIf="assignment_data!=undefined" class="row_data_set"> -->
        <!-- <ion-grid class="center_whatever_it_is"> -->
        <!-- <ion-row style="width:80vw;"> -->
        <ion-row class="ion-margin">
            <ion-col class="center_whatever_it_is" col-3>
                <ion-row class="center_whatever_it_is">
                    <img *ngIf="assignment_data.user_icon == '' " class="icon_img" src="assets/imgs/template_icon.jpg">
                    <img *ngIf="assignment_data.user_icon != '' " class="icon_img" src="https://intervii.com/media/{{assignment_data.user_icon}}">
                </ion-row>
            </ion-col>
            <ion-col style="left: 5%;max-height:25vw;margin:auto;" col-9>
                <ion-row>{{assignment_data.display_name}}</ion-row>
            </ion-col>
        </ion-row>
        <!-- </ion-grid>
    </ion-item> -->
        <ion-row *ngIf="assignment_data!=undefined" no-lines style="background-color:#0000;">
            <img style="width:90vw;margin-top:auto;margin-bottom:auto; margin-left:5vw;background-color:#0000;" src="https://intervii.com/media/{{assignment_data.file}}">
        </ion-row>
        <ion-row *ngIf="assignment_data!=undefined" style="width:80vw;margin-left:10vw; color:#fff;" [innerHtml]="assignment_data.content" text-wrap></ion-row>
        <div *ngIf="assignment_data.tutor_comment != '' && lecturer_data!=undefined" style="width:80vw;margin-left:10vw;">
            <ion-row class="row_tutor_reply" no-lines>
                <ion-grid class="center_whatever_it_is">
                    <ion-row style="width:100%">
                        <ion-col class="tutor_icon_col" col-4>
                            <img *ngIf="lecturer_data.icon == '' " class="icon_img2" src="assets/imgs/template_icon.jpg">
                            <img *ngIf="lecturer_data.icon != '' " class="icon_img2" src="https://intervii.com/media/{{lecturer_data.icon}}">
                        </ion-col>
                        <ion-col class="tutor_label" col-3>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                教學導師
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Tutor
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                教学导师
                            </ng-container>
                        </ion-col>
                        <ion-col class="tutor_id" col-5>{{lecturer_data.display_name}}</ion-col>
                    </ion-row>
                    <ion-row></ion-row>
                    <ion-row class="tutor_reply_content" [innerHtml]="assignment_data.tutor_comment" text-wrap></ion-row>
                </ion-grid>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="assignment_data.tutor_comment =='' && course_detail.lecturer_id==user_id">
    <ion-row class="row_footer">

        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            <ion-input [(ngModel)]="reply_comment" style="font-size:5vw; line-height:5vw; color:#fff" placeholder="回應作業">
            </ion-input>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-input [(ngModel)]="reply_comment" style="font-size:5vw; line-height:5vw; color:#fff" placeholder="Replay assignment">
            </ion-input>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-input [(ngModel)]="reply_comment" style="font-size:5vw; line-height:5vw; color:#fff" placeholder="回应作业">
            </ion-input>
        </ng-container>
        <ion-icon name="send" style="font-size:10vw; color: #ED2B6F;" (click)="Send()"></ion-icon>
    </ion-row>
</ion-footer>