.cancel-btn {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.row_data_set {
    background: #0000;
    background-color: transparent !important;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 5%;
    height: auto;
}

// .comment_icon{
//   text-align: center;
//   align-items: center;
//   justify-content: center;
//   align-content: center;
//   align-self: center;
// }
.icon_img {
    border-radius: 50%;
    min-width: 20vw;
    max-width: 20vw;
    width: 20vw;
    height: 20vw;
}

.icon_img2 {
    border-radius: 50%;
    min-width: 15vw;
    max-width: 15vw;
    width: 15vw;
    height: 15vw;
}

.row_unit {
    color: #ED2C6F;
    font-size: 1.1rem;
}

.row_user_and_time {
    font-size: 1.1rem;
}

.center_whatever_it_is {
    background-color: transparent !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.comment_content {
    font-size: 1.1rem;
    text-align: left;
}

.row_tutor_reply {
    background-color: #363636;
    padding: 0;
    border-radius: 8px;
    margin-top: 5%;
}

.tutor_icon_img {
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
}

.tutor_icon_col {
    padding: 0;
    align-self: center;
}

.tutor_label {
    padding: 0;
    border-radius: 15px;
    background-color: #57A4FF;
    font-size: 1.1rem;
    align-self: center;
    // top: 5vw;
}

.tutor_id {
    // padding: 0;
    // margin-left: 2%;
    text-align: left;
    justify-content: flex-start;
    vertical-align: middle;
    top: 5vw;
}

.tutor_reply_content {
    font-size: 1rem;
    width: 90%;
    margin: 5%;
    text-align: left;
}

.row_footer {
    background-color: #1c1c1c;
    height: 10vw;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

.footer_title {
    // background-color: #ffffff;
    color: grey;
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    opacity: 1 !important;
}