.tabbar {
    background-color: #1C1C1C !important;
}

.tabs .tabbar {
    min-height: 10vw !important;
    height: 10vw !important;
}

.content-adjustment {
    padding-top: env(safe-area-inset-top); //20px from ion-row margin 4px from navbar margin
    //   .md{
    //       margin-top: calc(6vh + 4px + env(safe-area-inset-top)) ;
    //   }
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.title_row {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #363636;
    font-size: 1.5rem;
    // height: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: #fff;
    border-radius: 2vw;
    text-align: left;
}

.row_data_set {
    background-color: transparent;
    // background: #ED2C6F;
    // background-color: #ED2C6F;
    // --background: #ED2C6F;
    // --background-color: #ED2C6F;
    // padding: 0 !important;
    border-radius: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
    width: 90vw !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: max-content;
    .title_row {
        // padding: 0;
        margin-left: 5vw;
        // width: 90vw !important;
        font-size: 1.5rem;
    }
}

.row_data_set.open {
    // background-color: #1C1C1C;
    // padding: 0 !important;
    // border-radius: 2vw;
    // margin-left: 5vw;
    // margin-right: 5vw;
    // margin-bottom: 2.5vw;
    // margin-top: 2.5vw;
    // padding-right: 0 !important;
    // margin-right: 0 !important;
    // width: 90vw !important;
    .title_row {
        // padding: 0;
        margin-left: 0vw;
        // width: 90vw !important;
        font-size: 1.5rem;
    }
}

.row_data_set.hide {
    display: none;
}

.item-inner {
    padding-right: 0px !important;
}

.label {
    margin: 0px !important;
}

.tick {
    color: #ED2C6F;
    font-size: 5vh;
    line-height: 0.7;
    text-align: center;
    margin-right: 8px; //item-ios padding 8px
}

ion-footer {
    background-color: #ED2C6F;
}

.submit-btn {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

.div_detail {
    font-size: 1.5rem;
    // margin: 0 !important;
    // margin-left: 0 !important;
    // margin-right: 0 !important;
    // width: 90vw !important;
    // padding: 0 !important;
    // padding-left: 0 !important;
    // padding-right: 0 !important;
}

.info_title {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #363636;
    font-size: 1.5rem;
    height: 10vw;
    color: #fff;
    border-radius: 2vw;
    text-align: center;
}

// .info_title {
//     // z-index: 100;
//     background-color: #363636;
//     width: 90vw !important;
//     height: 10vw;
//     line-height: 10vw;
//     border-radius: 2vw;
//     // margin: 0;
//     // padding: 0 !important;
//     // margin-left: 0 !important;
//     // margin-right: 0 !important;
//     // padding-left: 0 !important;
//     // padding-right: 0 !important;
//     margin-top: 5vw;
//     margin-bottom: 5vw;
// }
.info_zone {
    video {
        width: 100%;
    }
    img {
        width: 100%;
    }
    iframe {
        width: 80vw;
        height: 45vw;
    }
}

.row_footer_spacing {
    height: calc((100vh / 12) + 20px);
    width: 100vw;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}