<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <!-- <ion-title>上傳課堂作業</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-margin">
            <ion-col size="12">
                {{global_service.course_work_detail.coursework_title}}
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="12">
                <ion-text class='info_zone' [innerHTML]="global_service.course_work_detail.coursework_detail"></ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="global_service.course_work_detail.file_name != undefined && global_service.course_work_detail.file_name != null && global_service.course_work_detail.file_name != '' " class="ion-margin" style="background: #363636; padding: 0.4rem;">
            <ion-col size="12">
                <img src="https://intervii.com/media/{{global_service.course_work_detail.file_name}}">
            </ion-col>
        </ion-row>
        <ion-row *ngIf="global_service.course_work_detail.extra_file_name != undefined && global_service.course_work_detail.extra_file_name != null && global_service.course_work_detail.extra_file_name != '' " class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;"
            (click)="OpenLink(global_service.course_work_detail.extra_file_name)">
            <ion-col size="12" style="color: white;">{{global_service.course_work_detail.extra_file_name}}</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer *ngIf="global_service.course_purchase==true">
    <ion-button expand="full" class="submit_btn" (click)="AddCourseWork()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            提交作業
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Apply assignment
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            提交作业
        </ng-container>
    </ion-button>
</ion-footer>