<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
            <ion-button defaultHref="" (click)="Reload()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content #content_zone>
    <ion-grid fixed>
        <ion-row style="margin-top: 5rem;" *ngIf="platform.is('ios') && chatroom != undefined && chatroom.course_data != undefined && user_data !=undefined ">
            <ion-col size="12">
                <ion-card style="height: 5rem !important; margin-bottom: 1rem;" class="ion-no-margin lesson_card" [ngStyle]="{'background':  (chatroom.course_data.icon!=null && chatroom.course_data.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+chatroom.course_data.icon+')' : 'url(assets/imgs/banner.jpg)' )}">
                    <ion-row style="height: 100%;">
                        <ion-col offset="0.5" size="8.5" class="ion-align-self-center">
                            {{chatroom.course_data.title}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" *ngIf="user_data.id == chatroom.lecturer_id">
                                <img *ngIf="chatroom.user_data.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="chatroom.user_data.icon !=''" src="https://intervii.com/media/{{chatroom.user_data.icon}}">
                            </ion-avatar>
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" *ngIf="user_data.id == chatroom.user_id">
                                <img *ngIf="chatroom.lecturer_data.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="chatroom.lecturer_data.icon !=''" src="https://intervii.com/media/{{chatroom.lecturer_data.icon}}">
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 2.5rem;" *ngIf="!platform.is('ios') && chatroom != undefined && chatroom.course_data != undefined && user_data !=undefined ">
            <ion-col size="12">
                <ion-card style="height: 5rem !important; margin-bottom: 1rem;" class="ion-no-margin lesson_card" [ngStyle]="{'background':  (chatroom.course_data.icon!=null && chatroom.course_data.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+chatroom.course_data.icon+')' : 'url(assets/imgs/banner.jpg)' )}">
                    <ion-row style="height: 100%;">
                        <ion-col offset="0.5" size="8.5" class="ion-align-self-center">
                            {{chatroom.course_data.title}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" *ngIf="user_data.id == chatroom.lecturer_id">
                                <img *ngIf="chatroom.user_data.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="chatroom.user_data.icon !=''" src="https://intervii.com/media/{{chatroom.user_data.icon}}">
                            </ion-avatar>
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" *ngIf="user_data.id == chatroom.user_id">
                                <img *ngIf="chatroom.lecturer_data.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="chatroom.lecturer_data.icon !=''" src="https://intervii.com/media/{{chatroom.lecturer_data.icon}}">
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="chatroom != undefined && chatroom.course_data != undefined && user_data !=undefined ">
            <div *ngFor="let cl of chatroom.chat_list" class="chat-zone">

                <div *ngIf="cl.user_id != user_data.id && cl.tag!=''" class="chat-left tag-left">@{{cl.tag}}</div>
                <div *ngIf="cl.user_id != user_data.id" class="chat-left chat-box other-user">
                    <div *ngIf="cl.content_type == 'text'" class="content-text">
                        {{cl.content}}
                    </div>
                    <img *ngIf="cl.content_type == 'image'" class="message-img" src="https://intervii.com/media/{{cl.content}}" (click)="ShowImage(cl.content)">
                    <ion-col *ngIf="cl.content_type == 'sound'" style="float:left; width:33vw;height:7vw;">
                        <ion-icon class="ion-icon-center" name="musical-notes" style="font-size:7vw; color: #ED2B6F;" (click)="PlayRecord(cl.content)"></ion-icon>
                    </ion-col>
                    <div class="content-time">
                        {{cl.time}}
                    </div>
                </div>

                <div *ngIf="cl.user_id == user_data.id && cl.tag!=''" class="chat-right tag-right">@{{cl.tag}}</div>
                <div *ngIf="cl.user_id == user_data.id" class="chat-right chat-box this-user">
                    <div *ngIf="cl.content_type == 'text'" class="content-text">
                        {{cl.content}}
                    </div>
                    <img *ngIf="cl.content_type == 'image'" class="message-img" src="https://intervii.com/media/{{cl.content}}" (click)="ShowImage(cl.content)">
                    <ion-col *ngIf="cl.content_type == 'sound'" style="float:left; width:33vw;height:7vw;">
                        <ion-icon class="ion-icon-center" name="musical-notes" style="font-size:7vw; color: #ED2B6F;" (click)="PlayRecord(cl.content)"></ion-icon>
                    </ion-col>
                    <div class="content-time">
                        {{cl.time}}
                    </div>
                </div>
            </div>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer>
    <ion-item style="display:none;">
        <ion-label>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                選擇作業
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Select Assignment
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                选择作业
            </ng-container>
        </ion-label>

        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-select selectOptions="{header: '選擇作業'}" [(ngModel)]="tag" multiple="false" #mySelect>
                <ion-select-option value="">
                    Cancel Selection
                </ion-select-option>
                <ion-select-option *ngFor=" let t of tags" value="{{t}}">{{t}}</ion-select-option>
            </ion-select>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-select selectOptions="{header: 'Select Assignment'}" [(ngModel)]="tag" multiple="false" #mySelect>
                <ion-select-option value="">
                    Cancel Selection
                </ion-select-option>
                <ion-select-option *ngFor=" let t of tags" value="{{t}}">{{t}}</ion-select-option>
            </ion-select>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-select selectOptions="{header: '选择作业'}" [(ngModel)]="tag" multiple="false" #mySelect>
                <ion-select-option value="">
                    取消选择
                </ion-select-option>
                <ion-select-option *ngFor=" let t of tags" value="{{t}}">{{t}}</ion-select-option>
            </ion-select>
        </ng-container>

    </ion-item>
    <ion-row>
        <ion-col style="float:left; width:33vw; text-align: center;">
            <ion-icon class="ion-icon-center" name="at" style="font-size:7vw; color: #ED2B6F;" (click)="SelectTag()">
            </ion-icon>
        </ion-col>
        <ion-col style="float:left; width:33vw; text-align: center;">
        </ion-col>
        <ion-col style="float:left; width:33vw; text-align: center;">
            <ion-icon class="ion-icon-center" name="images" style="font-size:7vw; color: #ED2B6F;" (click)="SendImg()">
            </ion-icon>
        </ion-col>
        <!-- <ion-col style="float:left; width:33vw; text-align: center;">
            <ion-icon *ngIf="recording==false" class="ion-icon-center" name="mic" style="font-size:7vw; color: #ED2B6F;" (click)="SendRecord()"></ion-icon>
            <ion-row *ngIf="recording==true" class="ion-icon-center" style="margin-top: 0vw; height:10vw;line-height:10vw; font-size:3vw; color: #ED2B6F;" (click)="SendRecord()">
                停止錄音</ion-row>
        </ion-col> -->
    </ion-row>
    <ion-row class="tag_row" style="font-size:1rem; line-height:5vw; color:#ED2B6F; margin-left:5vw;" *ngIf="tag != ''">
        @{{tag}}
    </ion-row>
    <ion-row class="row_footer">
        <ion-col size="10" class="ion-align-self-center" style="height: 100%;">
            <ion-input [(ngModel)]="reply_content" style="width:80vw; font-size:1rem; line-height:5vw; color:#fff; margin-left:5vw;" placeholder="text...">
            </ion-input>
        </ion-col>
        <ion-col size="2" class="ion-align-self-center" style="height: 100%;">
            <ion-icon name="send" style="font-size:6vw; color: #ED2B6F; margin-right:5vw;" (click)="Send()"></ion-icon>
        </ion-col>

    </ion-row>
</ion-footer>