.content-adjustment {
    margin-top: env(safe-area-inset-top); //20px from ion-row margin 4px from navbar margin
    //   .md{
    //       margin-top: calc(6vh + 4px + env(safe-area-inset-top)) ;
    //   }
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

$navbar-ios-height: 0 !important;
ion-header {
    height: 0 !important;
    min-height: 0 !important;
}

.navbar {
    color: white;
    height: 0 !important;
    min-height: 0 !important;
}

.content-adjustment {
    //  margin-top: -1px;
}

// .ios{
ion-tabs {
    background-color: rgba(28, 28, 28, 0.7);
    position: relative;
    top: 0;
    padding-top: 0;
    margin-top: calc(0- #{env(safe-area-inset-top)});
    height: 10vw;
}

// }
.header {
    position: fixed;
    width: 100vw;
    height: 40vw; //calc(20vw- #{env(safe-area-inset-top)});
    top: -30vw; //env(safe-area-inset-top);
    top: calc(constant(safe-area-inset-top) - 30vw);
    top: calc(env(safe-area-inset-top) - 30vw);
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
    padding-top: 0; //env(safe-area-inset-top);
    z-index: 100;
    background-color: rgba(28, 28, 28, 1);
}

.ios .header {
    top: -25vw;
}

.function-buttons {
    // top: env(safe-area-inset-top);
    position: relative;
    width: 100vw;
    height: 10vw;
}

.top-tab {
    // top: calc(10vw + #{env(safe-area-inset-top)});
    position: relative;
    width: 100vw;
    height: 10vw;
}

.header-padding-zone {
    position: relative;
    width: 100vw;
    height: 30vw;
    top: 0px;
}

.padding-zone {
    position: relative;
    width: 100vw;
    height: 10vw;
    top: 0px;
    height: calc(constant(safe-area-inset-top) + 10vw);
    height: calc(env(safe-area-inset-top) + 10vw);
}

.livebtn {
    background-color: #ED2B6F;
    color: white;
    border-radius: 5px;
    display: flex;
    position: absolute;
    left: 1vw;
    line-height: 1.6;
    font-size: 3vw;
}

.rowhead {
    //display: flex;
    //align-items: flex-end;
    //text-align: right;
    // justify-content: f;
    width: 100%;
}

.otherbtn-left {
    background-color: #1c1c1c00;
    // display: flex;
    float: left;
    align-items: flex-start;
    font-size: 4vw;
}

.otherbtn {
    background-color: #1c1c1c00;
    // display: flex;
    float: right;
    align-items: flex-end;
    font-size: 4vw;
}

.icon {
    color: white;
    font-size: 200%;
}

.tabs-ios .tab-button.has-title-only {
    // min-height: 8vh;
    // max-height: 8vh;
    height: 100%;
}

.tabs-md .tab-button.has-title-only {
    //min-height: 8vh;
    //max-height: 8vh;
    height: 100%;
}

.tabs .tabbar {
    // min-height: 8vh;
    background: none;
    background-color: rgba(28, 28, 28, 0.7);
}

.tabbar a[aria-selected=true] {
    border-bottom: 4px;
    border-style: solid;
    border-color: #ED2B6F;
    // color($colors, 'primary');
    min-height: 10vw;
    height: 10vw;
}

.tabbar a[aria-selected=false] {
    color: white;
    min-height: 10vw;
    height: 10vw;
}

.tabs-md .tabbar {
    // padding-top: $toolbar-md-height ;
    // padding-top: $toolbar-md-height;
    // margin-top: $toolbar-md-height ;
}

.tabs-ios .tabbar {
    // padding-top: $toolbar-ios-height;
    //margin-top: calc(#{$cordova-ios-statusbar-padding} + #{env(safe-area-inset-top)});
    // margin-top: #{env(safe-area-inset-top)};
    // padding-top: $toolbar-ios-height;
    // margin-top:  $toolbar-ios-height;
}

// background-color: #424242;
// padding-top: calc(8vh + #{env(safe-area-inset-top)});
// padding-left: 0;
// padding-right: 0;
ion-card {
    padding: 0;
    margin-left: 0; //default margin 12;
    margin-right: 0;
    margin-top: 12px;
    width: 100%; //default calc(100% -24px);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%);
    }
    // &::after{
    //   position: absolute;
    //   content: "";
    //   height: 30%;
    //   width: 100%;
    //   top: 0;
    //   right: 0;
    //   background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    // }
}

.card-title {
    position: absolute;
    top: 0;
    left: 5vw;
    line-height: 20vw;
    font-size: 2vh;
    width: 60vw;
    font-weight: bold;
    z-index: 1;
    color: #fff;
    overflow: hidden;
}

.card-subtitle {
    font-size: calc(3vh);
    position: absolute;
    bottom: 3%;
    right: 3%;
    text-align: right;
    width: 100%;
    z-index: 1;
    color: #7FFF00;
}

.card-heart {
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-size: 1rem;
    width: 50%;
    font-weight: bold;
    z-index: 1;
}

.card-timer {
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 2rem;
    width: 50%;
    font-weight: bold;
    z-index: 1;
}

.card-labels {
    position: absolute;
    top: -5vw;
    left: 0;
    font-size: calc(2vh);
    width: 70%;
    height: 5vw;
    font-weight: bold;
    z-index: 1;
    color: #fff;
}

.heart_group {
    float: left;
    width: 6vw;
    height: 6vw;
    margin-right: 1vw;
}

.heart {
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 0;
}

.clock {
    float: left;
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;
}

.left {
    float: left;
}

.text {
    float: left;
    height: 5vw;
    line-height: 5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.like {
    float: left;
    width: 5vw;
    height: 5vw;
    margin-right: 2vw;
}

.live-labels {
    float: left;
    width: 9.5vw;
    height: 5vw;
    margin-right: 1vw;
}

.video-labels {
    float: left;
    width: 11vw;
    height: 5vw;
    margin-right: 1vw;
}

.card-icon {
    position: absolute;
    top: 2vw;
    // left:75vw;
    right: 5vw;
    width: 16vw;
    height: 16vw;
    z-index: 1;
    border-radius: 8vw;
    background-color: #fff;
}

.icon-img {
    width: 15vw;
    height: 15vw;
    border-radius: 7.5vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.row_footer {
    background-color: #1c1c1c; //#AEAEAE;
    height: 10vw;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

.footer_title {
    background-color: #ffffff;
    color: grey;
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    opacity: 1 !important;
}

.chat-zone {
    margin-top: 5vw;
    width: 100vw;
    display: inline-block;
}

.chat-left {
    float: left;
    // position: absolute;
    left: 5vw;
    margin-left: 5vw;
}

.chat-right {
    float: right;
    // position: absolute;
    right: 5vw;
    margin-right: 5vw;
}

.tag-left {
    text-align: left;
    width: 90vw;
    color: #ED2B6F;
}

.tag-right {
    text-align: right;
    width: 90vw;
    color: #ED2B6F;
}

.chat-box {
    min-height: 15vw;
    min-width: 20vw;
    max-width: 70vw;
    border-radius: 2vw;
    color: #000;
    padding: 0.6rem;
    //   padding-bottom: 1vw;
}

.other-user {
    background-color: #fff;
}

.this-user {
    background-color: #EF6B99;
}

.content-text {
    min-height: 7vw;
    min-width: 20vw;
    max-width: 68vw;
    line-height: 2rem;
    // margin-left: 2vw;
    // margin-top: 2vw;
    font-size: 1.2rem;
}

.content-time {
    //   height: 3vw;
    // width: 68vw;
    // margin-left: 2vw;
    // margin-right: 2vw;
    margin-top: 1vw;
    font-size: 0.5rem;
}

.message-img {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    max-width: 60vw;
    max-height: 60vw;
}

//   .ion-icon-center {
//       margin-top: 1.5vw;
//       height: 10vw;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       // height: 50%;
//       transform: translate(-50%, -50%);
//       // width: 10px;
//       // height: 10px;
//       display: block;
//       // background: red;
//   }