<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="" (click)="pressBack()">
            </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="GoSetting()">
                <ion-icon slot="icon-only" style="font-size: 1.4rem;" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="profile != null && user_data != null" class="ion-no-padding">
        <ion-row>
            <ion-col size="12" class="ion-no-padding">
                <img *ngIf="profile.banner==null || profile.banner==''" src="assets/imgs/banner.jpg">
                <img *ngIf="profile.banner!=null && profile.banner!=''" src="https://intervii.com/media/{{profile.banner}}">
            </ion-col>
        </ion-row>

        <ion-row class="ion-margin" class="ion-padding" style="background: var(--background); border-radius: 20px 20px 0 0; transform: translateY(-2rem);">

            <ion-col size="3" style="height:25px;">
                <ion-avatar style="width: 3.4rem; height: 3.4rem; margin: auto; transform: translateY(-2.4rem); border: 2px solid white;">
                    <img *ngIf="profile.icon==null || profile.icon==''" src="assets/imgs/template_icon.jpg">
                    <img *ngIf="profile.icon!=null && profile.icon!=''" src="https://intervii.com/media/{{profile.icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
            </ion-col>
            <ion-col size="1">
            </ion-col>
            <ion-col size="7">{{profile.display_name}}</ion-col>
            <ion-col size="3" *ngIf="user_data != undefined && user_data != null && user_data != 0 && user_data.id == profile.id">
                <!-- <ng-container> -->
                <ion-button (click)="GoEdit()" style="--background: var(--ion-color-major); --background-activated: var(--ion-color-major); padding: 0.4rem;     --border-radius: 5px;">
                    <ion-icon name="pencil" slot="start" style="font-size: 1.4rem; color: white;"></ion-icon>

                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        編輯
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Edit
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        编辑
                    </ng-container>
                </ion-button>
                <!-- </ng-container> -->
            </ion-col>
            <ion-col size="3" class="ion-text-right" *ngIf="user_data != undefined && user_data != null && user_data != 0 && user_data.id != profile.id">
                <!-- <ng-container> -->
                <ion-button *ngIf="!profile.followers.includes(user_data.id) && !user_data.following.includes(profile.id)" (click)="Follow()" style="--background: var(--ion-color-major); --background-activated: var(--ion-color-major); padding: 0.4rem;     --border-radius: 5px;">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            追蹤
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Follow
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            追踪
                        </ng-container>
                    </ion-label>
                </ion-button>
                <ion-button *ngIf="profile.followers.includes(user_data.id) && user_data.following.includes(profile.id)" (click)="Unfollow()" style="--background: var(--ion-color-major); --background-activated: var(--ion-color-major); padding: 0.4rem;     --border-radius: 5px;">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            取消追蹤
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Unfollow
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            取消追踪
                        </ng-container>
                    </ion-label>
                </ion-button>
                <!-- </ng-container> -->
            </ion-col>
            <ion-col size="1">
            </ion-col>
            <ion-col size="1">
            </ion-col>
            <ion-col size="7">
            </ion-col>


            <ion-col size="3" *ngIf="user_data != undefined && user_data != null && user_data != 0 && user_data.id == profile.id">
                <ion-button (click)="Econ()" style="--background: var(--ion-color-major); --background-activated: var(--ion-color-major); padding: 0.4rem;     --border-radius: 5px;">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            收入支出
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Econ
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            收入支出
                        </ng-container>
                    </ion-label>
                </ion-button>
            </ion-col>
            <ion-col size="3" *ngIf="user_data == undefined && user_data == null || user_data == 0 || user_data.id != profile.id">
            </ion-col>
            <ion-col size="1">
            </ion-col>

            <ion-col size="12">
                <ion-row style="margin-top:5vw;">
                    <ion-col class="ion-text-center" size="4">
                        <ion-icon style="font-size: 2.4rem;" name="people-outline"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-text-center" size="4">
                        <ion-icon style="font-size: 2.4rem;" name="star"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-text-center" size="4">
                        <ion-icon style="font-size: 2.4rem;" name="film-outline"></ion-icon>
                    </ion-col>

                    <ion-col class="ion-text-center" size="4">{{profile.followers.length}}</ion-col>
                    <ion-col class="ion-text-center" size="4">{{profile.rank}}</ion-col>
                    <ion-col class="ion-text-center" size="4">{{call_course_count}}</ion-col>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-col class="ion-text-center" size="4">粉絲人數</ion-col>
                        <ion-col class="ion-text-center" size="4">評分</ion-col>
                        <ion-col class="ion-text-center" size="4">課堂</ion-col>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-col class="ion-text-center" size="4">Follower</ion-col>
                        <ion-col class="ion-text-center" size="4">Rating</ion-col>
                        <ion-col class="ion-text-center" size="4">Course</ion-col>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-col class="ion-text-center" size="4">粉丝人数</ion-col>
                        <ion-col class="ion-text-center" size="4">评分</ion-col>
                        <ion-col class="ion-text-center" size="4">课堂</ion-col>
                    </ng-container>

                </ion-row>

                <ion-row class="ion-margin" style="margin-top:10vw;" (click)="CallEmail()" *ngIf="!(profile.email==undefined || profile.email==null || profile.email=='' || profile.email == '--')">
                    <ion-col size="3">
                        <ion-icon style="font-size: 1.4rem; vertical-align: middle;" name="mail"></ion-icon>
                    </ion-col>
                    <ion-col *ngIf="profile.email!=''" size="9">{{profile.email}}</ion-col>
                    <ion-col *ngIf="profile.email==''" size="9">--</ion-col>
                </ion-row>
                <!-- <ion-row class="ion-margin" (click)="CallPhone()">
                    <ion-col size="3">
                        <ion-icon style="font-size: 1.4rem; vertical-align: middle;" name="call"></ion-icon>
                    </ion-col>
                    <ion-col *ngIf="profile.phone!=''" size="9">{{profile.phone}}</ion-col>
                    <ion-col *ngIf="profile.phone==''" size="9">--</ion-col>
                </ion-row> -->
                <ion-row class="ion-margin" (click)="CallFacebook()" *ngIf="!(profile.fb_name==undefined || profile.fb_name==null || profile.fb_name=='' || profile.fb_name == '--')">
                    <ion-col size="3">
                        <ion-icon style="font-size: 1.4rem; vertical-align: middle;" name="logo-facebook"></ion-icon>
                    </ion-col>
                    <ion-col *ngIf="profile.fb_name!=''" size="9">{{profile.fb_name}}</ion-col>
                    <ion-col *ngIf="profile.fb_name==''" size="9">--</ion-col>
                </ion-row>
                <ion-row class="ion-margin" (click)="CallWebsite()" *ngIf="!(profile.website==undefined || profile.website==null || profile.website=='' || profile.website == '--')">
                    <ion-col size="3">
                        <ion-icon style="font-size: 1.4rem; vertical-align: middle;" src="../assets/icon/link-icon.svg"></ion-icon>
                    </ion-col>
                    <ion-col *ngIf="profile.website!=''" size="9">{{profile.website}}</ion-col>
                    <ion-col *ngIf="profile.website==''" size="9">--</ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

        <ion-row class="ion-margin">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    個人簡介
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Personal profile
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    个人简介
                  </ng-container>
                </button>
            </ion-col>
            <ion-col size="12">
                <div [innerHTML]="profile.info"></div>
            </ion-col>
        </ion-row>

        <ion-header *ngIf="platform.is('ios')" collapse="condense" no-border>
            <ion-toolbar>
                <ion-segment mode="md" [value]="current_select" (ionChange)="segmentChanged($event)">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>最新</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>試堂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>直擂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>Latest</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>Preview</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>Live</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>最新</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>试堂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>直擂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                </ion-segment>
            </ion-toolbar>
        </ion-header>
        <ion-header *ngIf="!platform.is('ios')" no-border>
            <ion-toolbar>
                <ion-segment mode="md" [value]="current_select" (ionChange)="segmentChanged($event)">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>最新</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>試堂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>直擂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>Latest</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>Preview</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>Live</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-segment-button value="latest_course" mode="md">
                            <ion-label>最新</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="trial_course" mode="md">
                            <ion-label>试堂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="live" mode="md">
                            <ion-label>直擂</ion-label>
                        </ion-segment-button>
                        <ion-segment-button value="vlog" mode="md">
                            <ion-label>VLOG</ion-label>
                        </ion-segment-button>
                    </ng-container>
                </ion-segment>
            </ion-toolbar>
        </ion-header>

        <ion-row class="ion-margin ion-padding" *ngIf="connecting_server==false && ((latest_course.length == 0 && current_select == 'latest_course') || (latest_course.length == 0 && current_select == 'trial_course') || (latest_course.length == 0 && current_select == 'live') || (vlogs.length == 0 && current_select == 'vlog'))">
            <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">{{missing_text}}</ion-col>
        </ion-row>

        <ion-row *ngIf="connecting_server==false && latest_course.length > 0 && current_select != 'vlog'">
            <ion-col size="12" *ngFor="let l of latest_course">
                <ion-card class="lesson_card" [ngStyle]="{'background':  (l.icon!=null && l.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.icon+')' : 'url(assets/imgs/banner.jpg)' )}"
                    (click)="OpenCourse(l)">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                            <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                {{l.total_duration}}</ion-label>
                        </ion-col>
                        <!-- <ion-col size="1.5">

            </ion-col> -->
                        <ion-col size="1.5">
                            <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data != undefined && user_data != null && user_data != 0 && !user_data.follow_course.includes(l.id)" src="assets/imgs/favorite.png">
                            <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data != undefined && user_data != null && user_data != 0 && user_data.follow_course.includes(l.id)" src="assets/imgs/favorite_active.png">
                        </ion-col>
                        <ion-col size="7.5" class="ion-text-right">
                            <ion-chip *ngIf="l.has_live" style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                                <ion-label>LIVE</ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();">
                                <img *ngIf="l.lecturer_icon==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="l.lecturer_icon!=''" src="https://intervii.com/media/{{l.lecturer_icon}}">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            {{l.title}}
                        </ion-col>
                        <ion-col size="8">
                            <ng-container *ngFor="let number of [0,1,2,3,4]">
                                <img style="width: 1.2rem;" *ngIf="number < l.rank && number+0.5 != l.rank" src="assets/imgs/heart.png">
                                <img style="width: 1.2rem;" *ngIf="number+0.5 == l.rank" src="assets/imgs/halfheart.png">
                                <img style="width: 1.2rem;" *ngIf="number+0.5 > l.rank && number+0.5 != l.rank" src="assets/imgs/greyheart.png">
                            </ng-container>
                        </ion-col>
                        <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">

                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                {{(l.price == 3 ? '免費' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                {{(l.price == 3 ? 'Free' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                {{(l.price == 3 ? '免费' : ('HK$' + price_list[l.price]))}}
                            </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row *ngIf="connecting_server==true && current_select != 'vlog'">
            <ion-col size="12" *ngFor="let l of [1,2,3,4]">
                <ion-card class="lesson_card" [ngStyle]="{'background':'url(assets/imgs/loading_bg.png)' }">
                    <ion-row>
                        <ion-col size="3">
                            <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                            <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                -----
                            </ion-label>
                        </ion-col>
                        <ion-col size="1.5">
                            <img style="width: 1.2rem; vertical-align: middle;" src="assets/imgs/favorite.png">
                        </ion-col>
                    </ion-row>
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img src="assets/imgs/template_icon.jpg">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            -----
                        </ion-col>
                        <ion-col size="8">
                            <ng-container *ngFor="let number of [0,1,2,3,4]">
                                <img style="width: 1.2rem;" src="assets/imgs/heart.png">
                            </ng-container>
                        </ion-col>
                        <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                            HK$ --
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>

        <ion-row *ngIf="connecting_server == false && vlogs.length > 0 && current_select == 'vlog'">
            <ion-col size="12" *ngFor="let l of vlogs">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  ('linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.splash+')')}"
                    (click)="OpenVlog(l)">
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();">
                                <img *ngIf="l.icon==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="l.icon!=''" src="https://intervii.com/media/{{l.icon}}">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            {{l.title}}
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>
        <ion-row *ngIf="connecting_server == true && current_select == 'vlog'">
            <ion-col size="12" *ngFor="let l of [1,2,3,4]">
                <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background': 'url(assets/imgs/loading_bg.png)'}">
                    <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                        <ion-col size="12" class="ion-text-center">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img src="assets/imgs/template_icon.jpg">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="12" style="color: white; font-size: 1.2rem;">
                            -----
                        </ion-col>
                    </ion-row>
                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>