<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                設計課堂單元
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Design course unit
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                设计课堂单元
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-padding" *ngIf="edit_video!=null">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row class="ion-margin">
                <ion-col size="12">影片標題</ion-col>
                <ion-col size="12">
                    <ion-input [(ngModel)]="edit_video.video_title" placeholder="輸入標題"></ion-input>
                </ion-col>
                <ion-col size="12" *ngIf="!edit_video.active && course.status=='completed'" style="color:#f00;">影片已被停用，請聯絡cs@intervii.com</ion-col>
            </ion-row>

            <ion-row [ngSwitch]="edit_video.video_type">
                <ion-col size="12">
                    <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 錄製影片
                            </ion-segment-button>
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                      <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming' || edit_video.video_type == '')) "> -->
                            <ion-segment-button value="live_streaming" *ngIf="(course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming')))">
                                <img *ngIf="edit_video.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 直播影片
                            </ion-segment-button>
                            <!-- </ng-container>
                  </ng-container> -->
                        </ion-segment>
                    </ng-container>
                    <ng-container *ngIf="global_service.user_data.zoom_ac == undefined || global_service.user_data.zoom_ac == null || global_service.user_data.zoom_ac == ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 錄製影片
                            </ion-segment-button>
                            <!-- </ng-container> -->
                        </ion-segment>
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'recording'">
                <ion-col size="6">上傳影片</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.file_name != undefined && edit_video.file_name != null && edit_video.file_name != ''">
                    <ion-col size="10">
                        {{edit_video.file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo()"></ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">上傳預覽影片</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.preview_file_name != undefined && edit_video.preview_file_name != null && edit_video.preview_file_name != ''">
                    <ion-col size="10">
                        {{edit_video.preview_file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo()">
                        </ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">影片長度(分鐘)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.duration" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>

            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'live_streaming'">
                <ion-col size="6">
                    <ion-datetime placeholder="排期" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="edit_video.live_streaming_date"></ion-datetime>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                    </ion-icon>
                </ion-col>
                <ion-col size="6">預計長度(分鐘)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_streaming_period" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>
                <ion-col size="12">直播連結</ion-col>
                <ion-col size="12" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_link" type="string" min="0" text-right placeholder="輸入連結">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">





            <ion-row class="ion-margin">
                <ion-col size="12">Video Title</ion-col>
                <ion-col size="12">
                    <ion-input [(ngModel)]="edit_video.video_title" placeholder="Title"></ion-input>
                </ion-col>
                <ion-col size="12" *ngIf="!edit_video.active && course.status=='completed'" style="color:#f00;">Video has been inactive, please contact cs@intervii.com</ion-col>
            </ion-row>

            <ion-row [ngSwitch]="edit_video.video_type">
                <ion-col size="12">
                    <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> Record Video
                            </ion-segment-button>
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                      <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming' || edit_video.video_type == '')) "> -->
                            <ion-segment-button value="live_streaming" *ngIf="(course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming')))">
                                <img *ngIf="edit_video.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> Live Course
                            </ion-segment-button>
                            <!-- </ng-container>
                  </ng-container> -->
                        </ion-segment>
                    </ng-container>
                    <ng-container *ngIf="global_service.user_data.zoom_ac == undefined || global_service.user_data.zoom_ac == null || global_service.user_data.zoom_ac == ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> Record Video
                            </ion-segment-button>
                            <!-- </ng-container> -->
                        </ion-segment>
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'recording'">
                <ion-col size="6">Upload Video</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.file_name != undefined && edit_video.file_name != null && edit_video.file_name != ''">
                    <ion-col size="10">
                        {{edit_video.file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo()"></ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">Upload Preview</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.preview_file_name != undefined && edit_video.preview_file_name != null && edit_video.preview_file_name != ''">
                    <ion-col size="10">
                        {{edit_video.preview_file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo()">
                        </ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">Video Length(Minutes)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.duration" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>

            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'live_streaming'">
                <ion-col size="6">
                    <ion-datetime placeholder="排期" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="edit_video.live_streaming_date"></ion-datetime>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                    </ion-icon>
                </ion-col>
                <ion-col size="6">Prefer Length(Minutes)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_streaming_period" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>
                <ion-col size="12">Live Link</ion-col>
                <ion-col size="12" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_link" type="string" min="0" text-right placeholder="Link">
                    </ion-input>
                </ion-col>
            </ion-row>








        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

            <ion-row class="ion-margin">
                <ion-col size="12">影片标题</ion-col>
                <ion-col size="12">
                    <ion-input [(ngModel)]="edit_video.video_title" placeholder="输入标题"></ion-input>
                </ion-col>
                <ion-col size="12" *ngIf="!edit_video.active && course.status=='completed'" style="color:#f00;">影片已被停用，请联络cs@intervii.com</ion-col>
            </ion-row>

            <ion-row [ngSwitch]="edit_video.video_type">
                <ion-col size="12">
                    <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 录制影片
                            </ion-segment-button>
                            <!-- </ng-container> -->
                            <!-- <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                      <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming' || edit_video.video_type == '')) "> -->
                            <ion-segment-button value="live_streaming" *ngIf="(course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'live_streaming')))">
                                <img *ngIf="edit_video.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 直播影片
                            </ion-segment-button>
                            <!-- </ng-container>
                  </ng-container> -->
                        </ion-segment>
                    </ng-container>
                    <ng-container *ngIf="global_service.user_data.zoom_ac == undefined || global_service.user_data.zoom_ac == null || global_service.user_data.zoom_ac == ''">
                        <ion-segment [(ngModel)]="edit_video.video_type" style="padding-left: 0%;">
                            <!-- <ng-container *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == '')) "> -->
                            <ion-segment-button *ngIf="course.status=='incomplete' || (course.status=='completed' && (edit_video.video_type == 'recording' || edit_video.video_type == ''))" value="recording">
                                <img *ngIf="edit_video.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                <img *ngIf="edit_video.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 录制影片
                            </ion-segment-button>
                            <!-- </ng-container> -->
                        </ion-segment>
                    </ng-container>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'recording'">
                <ion-col size="6">上传影片</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.file_name != undefined && edit_video.file_name != null && edit_video.file_name != ''">
                    <ion-col size="10">
                        {{edit_video.file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo()"></ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">上传预览影片</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo()">
                    </ion-icon>
                </ion-col>
                <ng-container *ngIf="edit_video.preview_file_name != undefined && edit_video.preview_file_name != null && edit_video.preview_file_name != ''">
                    <ion-col size="10">
                        {{edit_video.preview_file_name}}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                        <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo()">
                        </ion-icon>
                    </ion-col>
                </ng-container>

                <ion-col size="6">影片长度(分钟)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.duration" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>

            </ion-row>

            <ion-row *ngIf="edit_video.video_type == 'live_streaming'">
                <ion-col size="6">
                    <ion-datetime placeholder="排期" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="edit_video.live_streaming_date"></ion-datetime>
                </ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                    </ion-icon>
                </ion-col>
                <ion-col size="6">预计长度(分钟)</ion-col>
                <ion-col size="6" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_streaming_period" type="number" min="0" text-right>
                    </ion-input>
                </ion-col>
                <ion-col size="12">直播连结</ion-col>
                <ion-col size="12" class="ion-text-right">
                    <ion-input [(ngModel)]="edit_video.live_link" type="string" min="0" text-right placeholder="输入连结">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ng-container>




    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">{{button_text}}</ion-button>
</ion-footer>