<ion-header>
    <ion-toolbar>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                完成建立課堂
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Course Created
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                完成建立课堂
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-margin ion-padding">
        <img src="assets/imgs/thank_you_payment.png">
    </div>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Finished()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            返回首頁
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Complete
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            返回首页
        </ng-container>
    </ion-button>
</ion-footer>