.footer_button {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.1rem;
}

ion-footer {
    padding-bottom: constant(safe-area-inset-bottom);
    /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom);
    /* 兼容 iOS >= 11.2 */
}

.select_course {
    max-width: 100%;
    min-width: 100%;
    float: right;
}

.select_item {
    max-width: 100%;
    min-width: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.select_course {
    max-width: 100%;
    min-width: 100%;
    float: right;
}

.select_item {
    border: 1px solid white;
    border-radius: 10px;
}

.course_img {
    height: 40vw;
    width: 40vw;
}

.img_file {
    min-height: 40vw;
    min-width: 40vw;
    // width: 90vw;
    height: 40vw;
    width: 40vw;
    object-fit: cover;
}

.course_under_img {
    text-align: center;
    align-items: center;
}

.student_icon_img {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.grid_view {
    width: 100%;
    margin-bottom: 10%;
}

.row_footer_spacing {
    height: calc((100vh / 12) + 20px);
    width: 100vw;
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

ion-searchbar {
    --background: #000;
}

// .footer_title {
//     background-color: #ffffff;
//     color: grey;
//     width: 30%;
//     font-size: 1.2rem;
//     font-weight: bold;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     padding: 0;
//     opacity: 1 !important;
// }
// .footer_title_wide {
//     background-color: #ffffff;
//     color: grey;
//     width: 60%;
//     font-size: 1.2rem;
//     font-weight: bold;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     padding: 0;
//     opacity: 1 !important;
// }
// .footer_try_btn {
//     width: 30%;
//     font-size: 1.2rem;
//     background-color: pink;
//     padding: 0;
// }
// .right_half_btn {
//     width: 50%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .left_half_btn {
//     width: 50%;
//     font-size: 1.2rem;
//     background-color: pink;
//     padding: 0;
// }
// .footer_buy_btn {
//     width: 40%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_buy_btn.inactive {
//     width: 40%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #222428;
//     padding: 0;
// }
// .footer_large_btn {
//     width: 70%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_full_btn {
//     width: 100%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #ED2B6F;
//     padding: 0;
// }
// .footer_full_btn.inactive {
//     width: 100%;
//     font-size: 1.2rem;
//     color: white;
//     background-color: #222428;
//     padding: 0;
// }