<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="" (click)="pressBack()">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-header *ngIf="platform.is('ios')" collapse="condense" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)" scrollable>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>課堂簡介</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>課堂單元</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>課堂作業</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>課堂評論</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>問題討論</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>作業成果</ion-label>
                    </ion-segment-button>

                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>Course Introduction</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>Course Unit</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>Assignment</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>Comment</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>Discussion</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>Assignment Result</ion-label>
                    </ion-segment-button>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>课堂简介</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>课堂单元</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>课堂作业</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>课堂评论</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>问题讨论</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0 && (purchase==true || user_data.id == course_data.lecturer_id) ">
                        <ion-label>作业成果</ion-label>
                    </ion-segment-button>
                </ng-container>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="!platform.is('ios')" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)" scrollable>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>課堂簡介</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>課堂單元</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>課堂作業</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>課堂評論</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>問題討論</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>作業成果</ion-label>
                    </ion-segment-button>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>Course Introduction</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>Course Unit</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>Assignment</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>Comment</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>Discussion</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>Assignment Result</ion-label>
                    </ion-segment-button>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

                    <ion-segment-button value="first_tab" mode="md">
                        <ion-label>课堂简介</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second_tab" mode="md">
                        <ion-label>课堂单元</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>课堂作业</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="forth_tab" mode="md">
                        <ion-label>课堂评论</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="fifth_tab" mode="md">
                        <ion-label>问题讨论</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="six_tab" mode="md" *ngIf="coursework_data.length > 0">
                        <ion-label>作业成果</ion-label>
                    </ion-segment-button>
                </ng-container>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <ion-grid fixed *ngIf="current_tab=='first_tab' && loaded">
        <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  (course_data.icon!=null && course_data.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+course_data.icon+')' : 'url(assets/imgs/banner.jpg)' )}">
            <ion-row>
                <ion-col size="3">
                    <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline"></ion-icon>
                    <ion-label style="color: white; font-size: 1rem; vertical-align: middle;"> {{course_data.total_duration}}</ion-label>
                </ion-col>
                <!-- <ion-col size="1.5">

      </ion-col> -->
                <ion-col size="1.5" *ngIf="user_data.id != 0 && user_data.id != course_data.lecturer_id">
                    <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(course_data.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && !user_data.follow_course.includes(course_data.id)" src="assets/imgs/favorite.png">
                    <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(course_data.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && user_data.follow_course.includes(course_data.id)" src="assets/imgs/favorite_active.png">
                </ion-col>
                <ion-col size="7.5" class="ion-text-right">
                    <ion-chip *ngIf="course_data.has_live" style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>LIVE</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 0rem; width: 100%; ">
                <ion-col size="12" class="ion-text-center">
                    <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();GoProfile(course_data.lecturer_id)">
                        <img *ngIf="course_data.lecturer_icon==''" src="assets/imgs/template_icon.jpg">
                        <img *ngIf="course_data.lecturer_icon!=''" src="https://intervii.com/media/{{course_data.lecturer_icon}}">
                    </ion-avatar>
                </ion-col>
                <ion-col size="12" style="color: white; font-size: 1.2rem;"> {{course_data.title}} </ion-col>
                <ion-col size="8">
                    <ng-container *ngFor="let number of [0,1,2,3,4]">
                        <img style="width: 1.2rem;" *ngIf="number < course_data.rank && number+0.5 != course_data.rank" src="assets/imgs/heart.png">
                        <img style="width: 1.2rem;" *ngIf="number+0.5 == course_data.rank" src="assets/imgs/halfheart.png">
                        <img style="width: 1.2rem;" *ngIf="number+0.5 > course_data.rank && number+0.5 != course_data.rank" src="assets/imgs/greyheart.png">
                    </ng-container>
                </ion-col>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);"> {{(course_data.price == 3 ? '免費' : ('HK$' + price_list[course_data.price]))}} </ion-col>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);"> {{(course_data.price == 3 ? 'Free' : ('HK$' + price_list[course_data.price]))}} </ion-col>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);"> {{(course_data.price == 3 ? '免费' : ('HK$' + price_list[course_data.price]))}} </ion-col>
                </ng-container>
            </ion-row>
        </ion-card>
        <ion-row class="ion-margin">
            <ion-col size="4" class="ion-text-center">
                <ion-icon style="font-size: 2rem;" name="people-outline"></ion-icon>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <ion-icon style="font-size: 2rem;" name="star"></ion-icon>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <ion-icon style="font-size: 2rem;" name="time-outline"></ion-icon>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="color: white;">{{course_data.followers.length}}</ion-col>
            <ion-col size="4" class="ion-text-center" style="color: white;">{{course_data.rank}}</ion-col>
            <ion-col size="4" class="ion-text-center" style="color: white;">{{course_data.course_chapter_num}}</ion-col>
            <ion-col size="4" class="ion-text-center" style="color: grey;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    粉絲人數
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Follower
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    粉丝人数
                </ng-container>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="color: grey;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    評分
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Rating
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    评分
                </ng-container>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="color: grey;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    課堂節數
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Chapter
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    课堂节数
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="has_intro">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    課前資訊
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Course information
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    课前资讯
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">{{course_data.intro}}</ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="has_profile">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    課堂簡介
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Course introduction
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    课堂简介
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">
                <div [innerHTML]="course_data.profile"></div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="course_data != undefined && course_data != null && course_data.target_student != undefined && course_data.target_student != null && course_data.target_student != '' ">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    哪些學生適合這課堂
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Which audiences are suitable for this course?
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    哪些学生适合这课堂
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">{{course_data.target_student}}</ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="course_data != undefined && course_data != null && course_data.learn_result != undefined && course_data.learn_result != null && course_data.learn_result != '' ">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    學完課堂後，學生可以做出什麼東西？
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Audience can learn from the course
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    学完课堂後，学生可以做出什麽东西？
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">{{course_data.learn_result}}</ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="course_data != undefined && course_data != null && course_data.require_knowledge != undefined && course_data.require_knowledge != null && course_data.require_knowledge != '' ">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    學生學習課堂之前所需的背景知識
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    The knowledge requirements for audiences start the course
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    学生学习课堂之前所需的背景知识
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">{{course_data.require_knowledge}}</ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngIf="course_data != undefined && course_data != null && course_data.require_tools != undefined && course_data.require_tools != null && course_data.require_tools != '' ">
            <ion-col size="12">
                <button style="background-color: white; padding: 1.1rem; border-radius: 5px; width: 100%;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    學生需要用到的工具
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Tools that audience needs
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    学生需要用到的工具
                  </ng-container>
                </button>
            </ion-col>
            <ion-col style="color: white;">{{course_data.require_tools}}</ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="current_tab=='second_tab' && loaded">
        <ng-container *ngFor="let i of videos, let ind = index">
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==false && i.file_vimeo != undefined && i.file_vimeo != null && i.file_vimeo != ''" (click)="openVimeo(ind)">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-icon name="play-circle-outline" style="font-size: 1.6rem; "></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==false && i.file_name != '' && !(i.file_vimeo != undefined && i.file_vimeo != null && i.file_vimeo != '')" (click)="open(ind)">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-icon name="play-circle-outline" style="font-size: 1.6rem; "></ion-icon>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==false && i.file_name == '' && !(i.file_vimeo != undefined && i.file_vimeo != null && i.file_vimeo != '')">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-icon name="play-circle-outline" style="font-size: 1.6rem; "></ion-icon>
                </ion-col>
            </ion-row> -->
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==false && i.preview_file_vimeo != undefined && i.preview_file_vimeo != null && i.preview_file_vimeo != '' " (click)="openVimeoPreview(ind)">
                <ion-col size="9" style="color: white;"><span style="color:var(--ion-color-major);">
                  
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    (試堂)
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    (Preview)
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    (试堂)
                  </ng-container>
                </span>&nbsp;&nbsp; {{i.title}} </ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-icon name="play-circle-outline" style="font-size: 1.6rem; "></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==false && i.preview_file_name != '' && !(i.preview_file_vimeo != undefined && i.preview_file_vimeo != null && i.preview_file_vimeo != '')"
                (click)="openPreview(ind)">
                <ion-col size="9" style="color: white;"><span style="color:var(--ion-color-major);">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    (試堂)
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    (Preview)
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    (试堂)
                  </ng-container>
                </span>&nbsp;&nbsp; {{i.title}} </ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-icon name="play-circle-outline" style="font-size: 1.6rem; "></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==true && i.pass_live==false && user_data.id != course_data.lecturer_id && purchase==false && current_live==true && i.live_link == live_link"
                (click)="purchaseAlert()">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-chip style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                直播中
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                In live
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                直播中
                            </ng-container>
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="12" class="ion-text-right" *ngIf="i.display_live_date != undefined" style="color: var(--ion-color-major);">{{i.display_live_date}}</ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==true && i.pass_live==false && user_data.id == course_data.lecturer_id && current_live==true && i.live_link != undefined && i.live_link == live_link"
                (click)="StartLive()">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-chip style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                直播中
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                In live
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                直播中
                            </ng-container>
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="12" class="ion-text-right" *ngIf="i.display_live_date != undefined" style="color: var(--ion-color-major);">{{i.display_live_date}}</ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==true && i.pass_live==false && user_data.id != course_data.lecturer_id && purchase==true && current_live==true && i.live_link == live_link"
                (click)="JoinLive()">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-chip style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                加入直播
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Join live
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                加入直播
                            </ng-container>
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="12" class="ion-text-right" *ngIf="i.display_live_date != undefined" style="color: var(--ion-color-major);">{{i.display_live_date}}</ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==true && i.pass_live==false && current_live==false && i.live_link != live_link" (click)="notLiveAlert()">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-chip style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>LIVE</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="12" class="ion-text-right" *ngIf="i.display_live_date != undefined" style="color: var(--ion-color-major);">{{i.display_live_date}}</ion-col>
            </ion-row>
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" *ngIf="i.is_live==true && i.pass_live==true" (click)="notLiveAlert()">
                <ion-col size="9" style="color: white;">{{ind+1}}.{{i.title}}</ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-chip style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                        <ion-label>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                直播完結
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Live end
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                直播完结
                            </ng-container>
                        </ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="12" class="ion-text-right" *ngIf="i.display_live_date != undefined" style="color: var(--ion-color-major);">{{i.display_live_date}}</ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
    <ion-grid fixed *ngIf="current_tab=='third_tab' && loaded">
        <ng-container *ngFor="let l of coursework_data ; index as a">
            <ion-row class="ion-margin" style="background: #363636; border-radius: 10px; padding: 0.4rem;" (click)="OpenClose(a)">
                <ion-col size="12" style="color: white;">{{(a+1)}}. {{l.coursework_title}}</ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
    <ion-grid fixed *ngIf="current_tab=='forth_tab' && loaded">
        <ion-row class="ion-margin">
            <ion-col size="12" style="color: white;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    共{{comment_data.length}}則評論
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    {{comment_data.length}} Comments
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    共{{comment_data.length}}则评论
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngFor="let l of comment_data ; index as a" (click)="CommentDetail(l)" style="background: var(--ion-color-background-tint); border-radius: 10px;">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;" (click)="$event.stopPropagation();GoProfile(l.lecturer_id)">
                    <img *ngIf="l.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="l.user_icon != '' " src="https://intervii.com/media/{{l.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{l.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">
                        <ion-icon style="margin-right: 1rem;" name="star" class="star"></ion-icon>{{l.rank}}
                    </ion-col>
                    <ion-col size="12" style="color: white;">{{l.title}}</ion-col>
                    <ion-col size="12" style="color: white;">
                        <div class="text_overflow_dot" [innerHtml]="l.content"></div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="current_tab=='fifth_tab' && loaded">
        <ion-row>
            <ion-col size="12">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                    <ion-searchbar placeholder=" 你的問題可能已經有人問過" [(ngModel)]="search_term" (ionChange)="SearchContent($event)">
                    </ion-searchbar>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                    <ion-searchbar placeholder=" Question may asked by others" [(ngModel)]="search_term" (ionChange)="SearchContent($event)">
                    </ion-searchbar>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

                    <ion-searchbar placeholder=" 你的问题可能已经有人问过" [(ngModel)]="search_term" (ionChange)="SearchContent($event)">
                    </ion-searchbar>
                </ng-container>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin" *ngFor="let l of question_data ; index as a" style="background: var(--ion-color-background-tint); border-radius: 10px;" [hidden]="l.hide" (click)="OpenQuestionDetail(l)">
            <ion-col size="3">
                <ion-avatar style="width: 4rem; height: 4rem;" (click)="$event.stopPropagation();">
                    <img *ngIf="l.user_icon == '' " src="assets/imgs/template_icon.jpg">
                    <img *ngIf="l.user_icon != '' " src="https://intervii.com/media/{{l.user_icon}}">
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <ion-row>
                    <ion-col size="12" style="color: white;">{{l.title}}</ion-col>
                    <ion-col size="12" style="color: var(--ion-color-major);">{{l.display_name}}</ion-col>
                    <ion-col size="12" style="color: white;">{{l.question_time}}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid fixed *ngIf="current_tab=='six_tab' && loaded">
        <ion-row>
            <!--REMARK  NO SMAPLE -> NOT RECODE YET -->
            <div class="select_item" *ngIf="coursework_list.length > 0">
                <ion-item class="select_item" no-lines>
                    <ion-select [(ngModel)]="selected_result" (ionChange)="SelectedCourseworkChange($event)" class="select_course">
                        <ion-select-option *ngFor="let i of coursework_list" value="{{i.id}}">{{i.title}} </ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <ion-row *ngIf="coursework_list != undefined && coursework_list.length <= 0" style="width:100%; padding-top:10vw; text-align:center; font-size:2rem; margin-top: 10vw !important;">
                <div style="width:100%; color:#fff;" text-center>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        暫沒有遞交作業
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        No assignment
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        暂没有递交作业
                    </ng-container>
                </div>
            </ion-row>
            <ion-grid class="grid_view">
                <ion-row>
                    <ion-col *ngFor="let c of coursework_student_result" [hidden]="c.assignment_id != selected_result && selected_result != -1" col-6>
                        <ion-row class="course_img" (click)="showResult(c)">
                            <img class="img_file" *ngIf="c.file != '' " src="https://intervii.com/media/{{c.file}}">
                        </ion-row>
                        <ion-row class="course_under_img">
                            <!-- <img class="student_icon_img" src="{{c.student_icon_src}}"> -->
                            <img *ngIf="c.user_icon == '' " class="student_icon_img" src="assets/imgs/template_icon.jpg">
                            <img *ngIf="c.user_icon != '' " class="student_icon_img" src="https://intervii.com/media/{{c.user_icon}}"> {{c.display_name}} </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ng-container *ngIf="user_data.id != course_data.lecturer_id && loaded" class="row_footer">
        <ng-container *ngIf="purchase==true">
            <ng-container *ngIf="current_tab=='first_tab' || current_tab=='second_tab' || current_tab=='third_tab'">
                <ion-row>
                    <!-- <ion-col size="3.5" class="ion-no-padding"> -->
                    <ion-col size="6" class="ion-no-padding">
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                            <button disabled class="footer_button" style="background: white; color: black;"> {{(course_data.price == 3 ? '免費' : ('HK$' + price_list[course_data.price]))}} </button>
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                            <button disabled class="footer_button" style="background: white; color: black;"> {{(course_data.price == 3 ? 'Free' : ('HK$' + price_list[course_data.price]))}} </button>
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

                            <button disabled class="footer_button" style="background: white; color: black;"> {{(course_data.price == 3 ? '免费' : ('HK$' + price_list[course_data.price]))}} </button>
                        </ng-container>
                    </ion-col>
                    <!-- <ion-col size="3.5" class="ion-no-padding">
                        <button class="footer_button" style="background: pink;" (click)="Refund()">退款</button>
                    </ion-col> -->
                    <ng-container *ngIf="current_tab=='first_tab' || current_tab=='third_tab'">
                        <ion-col size="6" class="ion-no-padding">
                            <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == false" (click)="AddReview()"> 
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                評論
                              </ng-container>
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Comment
                              </ng-container>
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                评论
                              </ng-container>
                            </button>
                            <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == true">
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                評論
                              </ng-container>
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Comment
                              </ng-container>
                              <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                评论
                              </ng-container>
                            </button>
                        </ion-col>
                    </ng-container>
                    <ng-container *ngIf="current_tab=='second_tab' ">
                        <ng-container *ngIf="current_live==true ">
                            <ion-col size="6" class="ion-no-padding">
                                <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == false" (click)="Report()"> 
                                
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    回報直播失實
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Report Live
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    回报直播失实
                                  </ng-container>
                                </button>
                            </ion-col>
                        </ng-container>
                        <ng-container *ngIf="current_live==false ">
                            <ion-col size="6" class="ion-no-padding">
                                <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == false" (click)="AddReview()"> 
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    評論
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Comment
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    评论
                                  </ng-container>
                                </button>
                                <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == true">
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    評論
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Comment
                                  </ng-container>
                                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    评论
                                  </ng-container>
                                </button>
                            </ion-col>
                        </ng-container>
                    </ng-container>
                </ion-row>
            </ng-container>
            <ng-container *ngIf="current_tab=='forth_tab'">
                <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == false" (click)="AddReview()"> 
                
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    新增評論
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Add comment
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    新增评论
                  </ng-container>
                </button>
                <button class="footer_button" style="background: var(--ion-color-major); color: white;" *ngIf="reviewed == true"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    已評論
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Commented
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    已评论
                  </ng-container>
                </button>
            </ng-container>
            <ng-container *ngIf="current_tab=='fifth_tab'">
                <button class="footer_button" style="background: var(--ion-color-major); color: white;" (click)="AddComment()">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    新增問題
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Add question
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    新增问题
                  </ng-container>
                </button>
            </ng-container>
            <ng-container *ngIf="current_tab=='six_tab'">
                <button class="footer_button" style="background: var(--ion-color-major); color: white;" (click)="AddCourseWork()"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    提交作業
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Apply Assignment
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    提交作业
                  </ng-container>
                </button>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="purchase==false">
            <ion-row>
                <ion-col size="7">
                    <button disabled class="footer_button" style="background: white; color: black;"> 
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        {{(course_data.price == 3 ? '免費' : ('HK$' + price_list[course_data.price]))}}
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        {{(course_data.price == 3 ? 'Free' : ('HK$' + price_list[course_data.price]))}}
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        {{(course_data.price == 3 ? '免费' : ('HK$' + price_list[course_data.price]))}}
                      </ng-container>
                    </button>
                </ion-col>
                <ion-col size="5">
                    <button *ngIf="user_data.id != course_data.lecturer_id && currentPlatform == 'android'" (click)="purchaseClassAndroid()" class="footer_button" style="background: var(--ion-color-major); color: white;"> 
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        購買
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Purchase
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        购买
                      </ng-container>
                    </button>
                    <button *ngIf="user_data.id != course_data.lecturer_id && currentPlatform == 'ios'" (click)="purchaseClassIOS()" class="footer_button" style="background: var(--ion-color-major); color: white;"> 
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        購買
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Purchase
                      </ng-container>
                      <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        购买
                      </ng-container>
                    </button>
                </ion-col>
            </ion-row>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="user_data.id == course_data.lecturer_id && loaded">
        <ion-row>
            <ion-col size="4" class="ion-no-padding">
                <button *ngIf="user_data.id == course_data.lecturer_id && course_data.status == 'completed'" class="footer_button" style="background: white; color: black;" (click)="DisableCourse()"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    停用
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Inactive
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    停用
                  </ng-container>
                </button>
                <button *ngIf="user_data.id == course_data.lecturer_id && course_data.status == 'disabled'" class="footer_button" style="background: white; color: black;" (click)="EnableCourse()"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    啓用
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Active
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    啓用
                  </ng-container>
                </button>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
                <button *ngIf="user_data.id == course_data.lecturer_id" class="footer_button" style="background: pink; color: black;" (click)="AddStudent()"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    加入學生
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
          Add student
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    加入学生
                  </ng-container>
                </button>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
                <button *ngIf="user_data.id == course_data.lecturer_id" class="footer_button" style="background: var(--ion-color-major); color: white;" (click)="Edit()"> 
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    編輯
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
          Edit
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    编辑
                  </ng-container>
                </button>
            </ion-col>
        </ion-row>
    </ng-container>
</ion-footer>