<ion-header no-border class="login_header">
    <ion-toolbar>
        <ion-title>Vlog</ion-title>
        <ion-buttons slot="end">
            <ion-button style="--color: var(--ion-color-major);" *ngIf="global_service != undefined && global_service != null && global_service.user_data != undefined && global_service.user_data != null && global_service.user_data.is_lecturer != undefined && global_service.user_data.is_lecturer != null && (global_service.user_data.is_lecturer == true || global_service.user_data.is_lecturer == 'true') "
                (click)="AddVlog()">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    新增
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Add
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    新增
                </ng-container>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="color:#fff;" pullFactor={0.5} pullMin={100} pullMax={200}>
        <!-- <ion-refresher-content></ion-refresher-content> -->
    </ion-refresher>
    <!-- <ion-header collapse="condense" no-border>
    <ion-toolbar>
      <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="first_tab" mode="md">
          <ion-label>Vlog</ion-label>
        </ion-segment-button>
        <ion-segment-button value="second_tab" mode="md">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header> -->

    <ion-grid fixed>
        <ion-row *ngIf="current_vlog_tag=='分類' && vlogs.length == 0 && searched==false">
            <ion-col size="12">
                <ion-item style="--background: transparent;">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-label style="color: white;">分類</ion-label>
                        <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                            <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_zh}}</ion-select-option>
                        </ion-select>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-label style="color: white;">Category</ion-label>
                        <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                            <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_en}}</ion-select-option>
                        </ion-select>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-label style="color: white;">分类</ion-label>
                        <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                            <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_cn}}</ion-select-option>
                        </ion-select>
                    </ng-container>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <ion-button style="--background-focused: var(--ion-color-major); --background-activated: var(--ion-color-major);	--background: var(--ion-color-major); color: white; width: 100%; border-radius: 10px;" (click)="InitFilter()">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        搜尋
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Search
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        搜寻
                    </ng-container>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" style="background: var(--background); position: sticky; position: -webkit-sticky; top: 0rem; right: 1rem; width: auto; z-index: 99;">
                <ion-row>
                    <ion-col size="12">
                        <ion-item style="--background: transparent;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                <ion-label style="color: white;">分類</ion-label>
                                <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" (ionChange)="InitFilter()" ngDefaultControl>
                                    <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_zh}}</ion-select-option>
                                </ion-select>
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                <ion-label style="color: white;">Category</ion-label>
                                <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" (ionChange)="InitFilter()" ngDefaultControl>
                                    <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_en}}</ion-select-option>
                                </ion-select>
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                <ion-label style="color: white;">分类</ion-label>
                                <ion-select style="color: white;" [(ngModel)]="data_ready.type" name="type" (ionChange)="InitFilter()" ngDefaultControl>
                                    <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_cn}}</ion-select-option>
                                </ion-select>
                            </ng-container>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>


            <ng-container *ngIf="connecting_server==false && ( (current_vlog_tag=='最新' && vlogs.length == 0) || (current_vlog_tag!='最新' && vlogs.length == 0 && searched==true) )">
                <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">{{missing_text}}</ion-col>
            </ng-container>


            <ng-container *ngIf="connecting_server==false">
                <ion-col size="12" *ngFor="let l of vlogs">
                    <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  ('linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.splash+')')}"
                        (click)="OpenVlog(l)">
                        <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                            <ion-col size="12" class="ion-text-center">
                                <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();GoProfile(l.user_id)">
                                    <img *ngIf="l.icon==''" src="assets/imgs/template_icon.jpg">
                                    <img *ngIf="l.icon!=''" src="https://intervii.com/media/{{l.icon}}">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="12" style="color: white; font-size: 1.2rem;">
                                {{l.title}}
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ion-col>
            </ng-container>

            <ng-container *ngIf="connecting_server==true">
                <ion-col size="12" *ngFor="let l of [1,2,3]">
                    <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background': 'url(assets/imgs/loading_bg.png)' }">
                        <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                            <ion-col size="12" class="ion-text-center">
                                <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                    <img src="assets/imgs/template_icon.jpg">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="12" style="color: white; font-size: 1.2rem;">
                                -----
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ion-col>
            </ng-container>
        </ion-row>


    </ion-grid>

</ion-content>