ion-content {
    --color: #fff;
    color: #fff;
}

.base_line {
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 2px;
}

ion-card {
    background: #444;
    --background: #444;
}

p {
    padding: 0;
    margin: 0;
}

span {
    padding: 0;
    margin: 0;
}

// ion-button {
//     background: #ED2B6F;
//     --background: #ED2B6F;
// }
.ion-margin {
    padding: 20px;
}