<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>月收入</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>收入</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>開支</ion-label>
                </ion-segment-button>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>Monthly Income</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>Course Income</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>Expense</ion-label>
                </ion-segment-button>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>月收入</ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>收入</ion-label>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-label>开支</ion-label>
                </ion-segment-button>
            </ng-container>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="current_tag=='month'">
        <!-- {{JSON.stringify(monthly_econ)}} -->
        <ng-container *ngIf="monthly_econ.length == 0">
            <ion-row class="center_item">
                <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">

                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        沒有月收入記錄
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        No monthly income record
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        没有月收入记录
                    </ng-container>

                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngFor="let monthly of monthly_econ">
            <ng-container size="12" *ngFor="let months of monthly.months">
                <ion-card class="ion-margin" *ngIf="MonthMainShow(monthly) && MonthSum(months)>0">
                    <ion-row>
                        <ion-col size="12">{{monthly.year_key}}{{months.month_key}}</ion-col>
                    </ion-row>
                    <ion-row class="base_line"></ion-row>
                    <ng-container size="12" *ngFor="let data of months.datas; index as x">
                        <!-- {{data.id}} -->
                        <!-- <ng-container *ngIf="x > 0">
                            <ion-row style="width:100%; margin-top:20px;"></ion-row>
                        </ng-container> -->
                        <ng-container size="12" *ngIf="MonthShow(data)">
                            <ion-row>
                                <ion-col size="8">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        課堂收入
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Course Income
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        课堂收入
                                    </ng-container>
                                </ion-col>
                                <ion-col *ngIf="data.amount <=0" size="4" style="text-align: right;">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        免費
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Free
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        免费
                                    </ng-container>
                                </ion-col>
                                <ion-col *ngIf="data.amount >0" size="4" style="text-align: right;">HKD {{loadPriceWithString(data)}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">{{getCourseName(data.course_id)}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        參考編號 :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Reference code :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        参考编号 :
                                    </ng-container>
                                    &nbsp;{{data.id}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        學生 :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Student :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        学生 :
                                    </ng-container>
                                    <!-- &nbsp;{{PayerName(data.payer)}}</ion-col> -->
                                    &nbsp;{{data.user_name}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">{{GetTime(data.create_date)}}</ion-col>
                            </ion-row>
                            <ion-row style="width:100%; margin-bottom:20px;"></ion-row>
                        </ng-container>
                    </ng-container>
                    <ion-row class="base_line"></ion-row>
                    <ion-row>
                        <ion-col size="8"></ion-col>
                        <ion-col size="4" style="text-align: right;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                總額
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Total
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                总额
                            </ng-container> &nbsp;: HKD {{MonthSum(months)}}</ion-col>
                    </ion-row>
                </ion-card>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="current_tag=='course'">
        <!-- {{JSON.stringify(course_incomes)}} -->
        <ng-container *ngIf="course_data.length == 0">
            <ion-row class="center_item">
                <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">

                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        沒有課堂收入記錄
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        No course income record
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        没有课堂收入记录
                    </ng-container>

                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="course_data.length > 0">
            <ion-row class="ion-margin">
                <ion-col size="12">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        總收入：HKD
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Total income : HKD
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        总收入：HKD
                    </ng-container>&nbsp;{{CourseTotal()}}
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngFor="let course of course_data; index as i">
            <ion-card class="ion-margin" *ngIf="CourseSum(i) > 0">
                <ion-row>
                    <ion-col size="12">{{course.title}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            課堂收入：HKD
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Course Income : HKD
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            课堂收入：HKD
                        </ng-container>&nbsp;{{CourseSum(i)}}
                    </ion-col>
                </ion-row>
                <ion-row class="base_line"></ion-row>
                <ng-container *ngFor="let monthly of course_incomes[i]">
                    <ng-container size="12" *ngFor="let months of monthly.months">
                        <!-- {{monthly.year_key}}{{months.month_key}} -->
                        <ng-container size="12" *ngFor="let data of months.datas; index as x">
                            <!-- {{data.id}} -->
                            <!-- <ng-container *ngIf="x > 0">
                          </ng-container> -->
                            <ion-row>
                                <ion-col size="8">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        參考編號 :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Reference code :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        参考编号 :
                                    </ng-container>
                                    &nbsp;{{data.id}}
                                </ion-col>
                                <ion-col *ngIf="data.amount <=0" size="4" style="text-align: right;">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        免費
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Free
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        免费
                                    </ng-container>
                                </ion-col>
                                <ion-col *ngIf="data.amount >0" size="4" style="text-align: right;">HKD {{loadPriceWithString(data)}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        學生 :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        Student :
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        学生 :
                                    </ng-container>
                                    <!-- &nbsp;{{PayerName(data.payer)}}</ion-col> -->
                                    &nbsp;{{data.user_name}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">{{GetTime(data.create_date)}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12" *ngIf="data.status=='activate'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>狀態 : <span style="color: #0ab90a;">已支付</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Status : <span style="color: #0ab90a;">Paid</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>状态 : <span style="color: #0ab90a;">已支付</span></p>
                                    </ng-container>
                                </ion-col>
                                <ion-col size="12" *ngIf="data.status!='activate'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>狀態 : <span style="color: #ed2b6f;">未支付</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Status : <span style="color: #ed2b6f;">Unpaid</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>状态 : <span style="color: #ed2b6f;">未支付</span></p>
                                    </ng-container>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12" *ngIf="data.payment_status=='paid'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>入帳 : <span style="color: #0ab90a;">已入帳</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Revenue : <span style="color: #0ab90a;">Recorded</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>入帐 : <span style="color: #0ab90a;">已入帐</span></p>
                                    </ng-container>
                                </ion-col>
                                <ion-col size="12" *ngIf="data.payment_status!='paid'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>入帳 : <span style="color: #ed2b6f;">未入帳</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Revenue : <span style="color: #ed2b6f;">Unrecorded</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>入帐 : <span style="color: #ed2b6f;">未入帐</span></p>
                                    </ng-container>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="data.status_remark=='on-hold'">
                                <ion-col size="12" *ngIf="data.status_remark=='on-hold'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>入帳 : <span style="color: #fff;">要求退款</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Revenue : <span style="color: #fff;">Request to refund</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>入帐 : <span style="color: #fff;">要求退款</span></p>
                                    </ng-container>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="data.status_remark=='refund'">
                                <ion-col size="12" *ngIf="data.status_remark=='refund'">
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                        <p>入帳 : <span style="color: #fff;">已退款</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                        <p>Revenue : <span style="color: #fff;">Refund</span></p>
                                    </ng-container>
                                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                        <p>入帐 : <span style="color: #fff;">已退款</span></p>
                                    </ng-container>
                                </ion-col>
                            </ion-row>
                            <ion-row style="width:100%; margin-bottom:20px;"></ion-row>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ion-card>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="current_tag=='expand'">
        <!-- {{JSON.stringify(expands_econ)}} -->
        <ng-container *ngIf="expands_econ.length == 0">
            <ion-row class="center_item">
                <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">

                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        沒有支出記錄
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        No expend record
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        没有课堂支出记录
                    </ng-container>

                </ion-col>
            </ion-row>
        </ng-container>
        <ion-card class="ion-margin" *ngFor="let expands of expands_econ">
            <ng-container size="12" *ngFor="let months of expands.months">
                <ion-row>
                    <ion-col size="12">{{expands.year_key}}{{months.month_key}}</ion-col>
                </ion-row>
                <ion-row class="base_line"></ion-row>
                <ng-container size="12" *ngFor="let data of months.datas; index as x">
                    <!-- {{data.id}} -->
                    <!-- <ng-container *ngIf="x > 0">
                        <ion-row style="width:100%; margin-top:20px;"></ion-row>
                    </ng-container> -->
                    <ion-row>
                        <ion-col size="8">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                課堂價錢
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Course price
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                课堂价钱
                            </ng-container>
                        </ion-col>
                        <ion-col *ngIf="data.amount <=0" size="4" style="text-align: right;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                免費
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Free
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                免费
                            </ng-container>
                        </ion-col>
                        <ion-col *ngIf="data.amount >0" size="4" style="text-align: right;">HKD {{data.amount}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">{{data.course_titlee}}</ion-col>
                        <ion-col *ngIf="data.status_remark =='' && CheckDate(data)" size="4">
                            <ion-button (click)="RefundPayment(data.id)" style="--background: var(--ion-color-major); --background-activated: var(--ion-color-major); padding: 0.4rem;     --border-radius: 5px;">

                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    退款
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    Refund
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    退款
                                </ng-container>
                            </ion-button>
                        </ion-col>
                        <ion-col *ngIf="data.status_remark =='refund' " size="4" style="text-align: right;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                已退款
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Refund
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                已退款
                            </ng-container>
                        </ion-col>
                        <ion-col *ngIf="data.status_remark =='settle' " size="4" style="text-align: right;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                已解決
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Solved
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                已解决
                            </ng-container>
                        </ion-col>
                        <ion-col *ngIf="data.status_remark =='on-hold' " size="4" style="text-align: right;">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                處理中
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Processing
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                处理中
                            </ng-container>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                參考編號 :
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                Reference code :
                            </ng-container>
                            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                参考编号 :
                            </ng-container>
                            &nbsp;{{data.id}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">{{GetTime(data.create_date)}}</ion-col>
                    </ion-row>
                    <ion-row style="width:100%; margin-bottom:20px;"></ion-row>
                </ng-container>
                <ion-row class="base_line"></ion-row>
                <ion-row>
                    <ion-col size="8"></ion-col>
                    <ion-col size="4" style="text-align: right;">
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            總額
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Total
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            总额
                        </ng-container>&nbsp;: HKD {{months.sum}}</ion-col>
                </ion-row>
            </ng-container>
        </ion-card>
    </ng-container>
</ion-content>