<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                網址
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                URL
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                网址
            </ng-container>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row class="ion-padding">
                <ion-col size="12">
                    課堂網址（3 - 20個小寫英數字元) https://intervii.com/{{url_content}}{{course.website}}
                </ion-col>
                <!-- <ion-col size="7">https://interviicom/{{url_content}}</ion-col> -->
                <ion-col size="3">網址</ion-col>
                <ion-col size="9">
                    <ion-input type="text" placeholder="輸入URL" [(ngModel)]="course.website" name="url" required></ion-input>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-row class="ion-padding">
                <ion-col size="12">
                    URL（3 - 20 alphabet or number) https://intervii.com/{{url_content}}{{course.website}}
                </ion-col>
                <!-- <ion-col size="7">https://interviicom/{{url_content}}</ion-col> -->
                <ion-col size="3">URL</ion-col>
                <ion-col size="9">
                    <ion-input type="text" placeholder="Input URL" [(ngModel)]="course.website" name="url" required></ion-input>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

            <ion-row class="ion-padding">

                <ion-col size="12">
                    课堂网址（3 - 20个小写英数字元 ) https://intervii.com/{{url_content}}{{course.website}}
                </ion-col>
                <!-- <ion-col size="7">https://interviicom/{{url_content}}</ion-col> -->
                <ion-col size="3">网址</ion-col>
                <ion-col size="9">
                    <ion-input type="text" placeholder="输入URL" [(ngModel)]="course.website" name="url" required></ion-input>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button expand="full" class="submit_btn" (click)="Dismiss()">
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            下一步
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            Next
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            下一步
        </ng-container>
    </ion-button>
</ion-footer>