<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
            <ion-title>條款細則</ion-title>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
            <ion-title>Policy & Terms</ion-title>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
            <ion-title>条款细则</ion-title>
        </ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col offset="0.5" size="11">
                <!-- 私隱政策聲明 Liveshow Limited （下稱「本公司」、「我們」或「我們的」）歡迎閣下使用我們的網站及服務。<br><br>本私隱政策聲明提供有關本公司透過轄下網站或本公司所提供的服務收集、使用和披露閣下所提供的個人資料的守則。在使用或提供任何個人資料前，請小心閱讀本私隱政策聲明的全文。<br><br>1. 個人資料(私隱)條例<br><br>本公司致力保護我們所持有的個人資料的隱私、保密性和安全性。本公司根據香港法例第486章個人資料(私隱) 條例的規定管理和保護您的個人資料。本公司致力確保我們的員工嚴格執行保安和保密措施。<br><br>2.
                您的個人資料收集v供個人資料。個人資料包括但不限於以下各項：姓名、電話號碼、手提電話號碼及、聯絡地址、電郵地址、姓別、年齡、出生日期、行業及/或職位、教育程度、喜好、家庭及/或月入狀況或其他相關資料。
                <br><br>2.2 若閣下向本網站選購某些產品或服務，並選擇以信用卡付款，閣下可能需要提供信用卡號碼、銀行名稱及信用卡有效日期。<br><br>2.3 本公司亦將採集非針對您個人的匿名統計資訊，如您的郵遞區號、年齡、性別、家庭及/或月入狀況、喜好、興趣及偏愛。<br><br>2.4 您所使用電腦的硬體及軟體資訊亦可能由本公司自動採集。該等資訊包括：您的IP位址、流覽器種類、功能變數名稱、訪問次數及訪問的網址。該等資訊將被本公司用於服務運營、服務品質保障以及為本公司網站的使用提供綜合統計。<br><br>2.5
                本公司可能收集及/或展示您自願在網上留言、調查和/或網頁註冊時所提供的其他個人資料。
                <br><br>3. 您的個人資料的使用<br><br>3.1 閣下的個人資料可能會作以下用途，包括: <br><br>(i) 處理閣下選購我們服務及成為會員的申請及終止使用的手續﹔<br><br>(ii) 身份識別和認證﹔<br><br> (iii) 帳戶登入和帳戶持續管理﹔<br><br> (iv) 向閣下提供服務的日常運作(包括服務合約的發帳單、收取費用續期及收費)﹔<br><br> (v) 向用戶 (包括閣下或其他用戶)提供個案分析﹔<br><br> (vi)
                聯繫﹔
                <br><br> (vii) 處理及跟進用戶有關維修、查詢及投訴的通訊﹔<br><br> (viii) 提供有關閣下的產品和服務的資料﹔<br><br> (ix) 推廣及直接促銷本公司的各刊物、網站、服務、課堂、講座、交流會、活動及<br><br> (x) 市場調查及統計分析；<br><br>(xi) 管理本網站、編撰本網站用戶統計資料及監控本網站使用量及表現；<br><br>(xii) 直接促銷 (詳情見本私隱政策聲明的第5款)﹔<br><br>(xiii) 審核﹔
                <br><br>(xiv) 促使我們的實際或建議承讓人、或我們的客戶權利參與人或附屬參與人評核擬<br><br>(xv) 按任何對本公司具約束力的法律要求披露資料﹔及
                <br><br>(xvi) 與上述各項有關的用途。<br><br>3.2 當您為接收我們的可選擇的電子郵件而提供您的電郵地址給我們時，本公司會使用您的電郵地址，向您發送可選擇的電郵訊息。本公司還會使用您這個或任何您向我們提供的電郵地址與您聯繫，和向您發送有關您的帳戶狀態的交易或關係的訊息、安全更新和改變的通知。<br><br>3.3 如果您在香港以外的地區使用我們的服務，您確認您是自願發送包括您的個人資料的訊息到香港，和同意本公司收集、使用、儲存和分享您的個人資料是受香港而非您所在的司法管轄區的法例所規管。<br><br>4.
                向第三者提供您的個人資料
                <br><br>4.1 除於本隱私政策聲明中所描述的情況，在一般情況下，本公司並不會與他人分享我們在您使用我們的產品、服務和網站時所收集得到有關您的個人資料。但本公司可能會把您的個人資料傳輸到以下公司或人仕：<br><br>(i) 有關付款的相關銀行；<br><br>(ii) 本公司的任何董事、職員或僱員或本公司進行其業務時授權的任何人士（例如<br><br>(iii) 本公司的代理人、承包商或為向我們提供與我們業務運作有關的其他服務而須<br><br>(iv) 本公司的集團成員﹔<br><br>(v)
                對本公司有保密責任的任何其他人士；
                <br><br>(vi) 本公司的任何實際或建議受讓人，或本公司在有關客戶權利方面的參與人，附<br><br>(vii) 法庭頒領, 政府部門或法定機構根據有關法律而指示或要求該些資料要傳輸到人<br><br>(viii) 特定公司，旨在向閣下提供本公司認為閣下會感興趣的服務訊息 。<br><br>4.2 本私隱政策聲明並不適用於已傳輸給第三者之個人資料，本公司不會就該等第三者<br><br>C對有關個人資料之保護或不保護負責。<br><br><br><br>5.
                Cookies的使用
                <br><br>5.1 本公司會使用cookies來讓您的訂閱服務有更個人化的體驗。Cookie是由Web伺服器放置在您的硬盤的一個文本文件。Cookies可以儲存用戶的偏好和其他訊息。 Cookies不能用於運行程序，也不能將病毒傳播到您的電腦或行動裝置。Cookies是Web伺服器獨特地分配給您的，亦只有在域名內的Web伺服器能讀取它所發出的cookies。
                <br><br>5.2 當您使用本公司的網站、產品和/或服務手機應用程式時，本公司可能自動接收並記錄我們的伺服器從您的瀏覽器中所取得的訊息，包括您的IP地址、cookies和您請求的頁面。此訊息可能會被用作：<br><br>(i) 識別您作為帳戶使用者的身份; <br><br>(ii) 當一段時間過去後，伺服器會要求您重新輸入您的密碼，以保護您的帳戶資訊<br><br>(iii) 當您使用我們的網站和應用程式時追踪您所指定的喜好；
                <br><br>(iv) 診斷和預防由我們的用戶或工程師報告的服務或技術問題；<br><br>(v) 估計和報告在特定地理區域使用我們所提供的產品、服務和應用程式的總用戶<br><br>(vi) 進行研究，以改善我們的服務。<br><br>5.3 您有權選擇接受或停用cookies。您可更改您的瀏覽器的設定去接受所有cookies、停用所有cookies或在我們設置一個cookie時通知您。一旦您選擇停用所有cookies，或特別拒絕由本公司設置的cookies，您可能無法充分體驗由本公司所提供的服務的互動功能。<br><br>5.4
                本公司的廠商、服務提供商和業務合作伙伴可能會通過我們的網站和軟件應用程式設置和取用他們的cookies。本公司以外的他方如何使用他們的cookies和收集資料是受他們自己的公司的隱私權政策所規管。
                <br><br>6. 您的個人資料的安全<br><br>6.1 本公司將盡合理的商業努力避免您的個人資訊受到未被授權的訪問、使用或披露。<br><br>本公司將盡合理的商業努力確保您在電腦伺服器上提供的個人識別資訊處於可控及安全的環境中，且不會受到未被授權的訪問、使用或披露。當個人資訊（如信用卡卡號）被傳送至其他網站，該等資訊將以加密方式受到保護，如安全套接層（SecureSocket Layer – SSL）協定的方式。<br><br>6.2 請謹記如您通過公共留言板、論壇、聊天室、社交網絡或其他地方直接透露可識別您的個人身份的資料，您所分享的個人資料是其他用戶可看見的。其他用戶可查看、收集及/或使用您的個人資料。在這些情況下，您需要為您所提供的個人資料負責。<br><br>7.
                第三方網站和服務
                <br><br>本網站可能載有連接至其他非由本公司操作或監控的網站的超連結。該等網站並不受本私隱政策聲明所規管，本公司對該等網站的內容或其用以處理個人資料的政策概不負責。本公司建議閣下細閱該等網站使用的私隱政策聲明，並查悉該等網站如何保障閣下的個人資料及有關措施是否安全可靠。<br><br>8. 您的個人資料的取用及更改
                <br><br>根據《個人資料(私隱)條例》，您有權向本公司查詢我們是否持有您的個人資料、索取這些資料和更改任何相關的不準確或過時的資料。如需取用及更改個人資料，請電郵至info@intervii.com 與我們聯絡。<br><br>9. 聲明的更新<br><br>本公司將會不定期更新本隱私政策聲明，以便反映本公司的服務變化和客戶的回饋意見。無論我們有通知您與否，我們保留更改本隱私政策聲明的條款、條件及通告的權利。<br><br>我們鼓勵您定期檢視此隱私政策聲明，以得知本公司如何保護您的個人資訊。您有責任閱讀和遵守最新版本的隱私政策聲明。在法律允許的最大範圍內，您繼續使用本公司所提供的產品、服務和網站，即表示您同意本隱私政策聲明及任何更新。<br><br>11.
                聯繫方式
                <br><br>若您對本公司的隱私權政策或資料處理有任何疑問，請以電郵至info@intervii.com與我們聯絡。 -->
                Liveshow Limited (hereinafter referred to as "the company", "us" or "our") welcome you to use our website and services.<br><br> This privacy policy statement provides guidelines on the collection, use and disclosure of the personal information
                provided through the company's websites or services provided by the company. Please carefully read the full text of this privacy policy statement before using or providing any personal information.<br><br> 1. Personal Data (Privacy) Ordinance<br>                The company is committed to protecting the privacy, confidentiality and security of the personal data we hold. The company manages and protects your personal data in accordance with the Personal Data (Privacy) Ordinance, Chapter 486 of
                the Laws of Hong Kong. The company is committed to ensuring that our employees strictly implement security and confidentiality measures.<br><br> 2. Your personal information is collected for personal information. Personal information includes
                but is not limited to the following: name, phone number, mobile phone number and, contact address, email address, surname, age, date of birth, industry and/or position, education level, preferences, family and/or month Input status or
                other relevant information.<br><br> 2.2 If you purchase certain products or services from this website and choose to pay by credit card, you may need to provide the credit card number, bank name and credit card expiry date.<br><br> 2.3
                The company will also collect anonymous statistical information that is not specific to you, such as your postal code, age, gender, family and/or monthly income, preferences, interests and preferences.<br><br> 2.4 The hardware and software
                information of the computer you are using may also be automatically collected by the company. Such information includes: your IP address, browser type, function variable name, number of visits and website visited. Such information will
                be used by the company for service operation, service quality assurance and to provide comprehensive statistics on the use of the company's website.<br><br> 2.5 The company may collect and/or display other personal information you provide
                when you voluntarily leave messages, surveys and/or web registrations on the Internet.<br><br> 3. Use of your personal data<br><br> 3.1 Your personal data may be used for the following purposes, including:<br><br> (i) To process your application
                for purchasing our services and becoming a member, and the procedures for terminating use;<br><br> (ii) Identification and authentication;<br><br> (iii) Account login and continuous account management;<br><br> (iv) The daily operation
                of the service provided to you (including billing of service contracts, renewal of fees and charges);<br><br> (v) Provide case analysis to users (including you or other users);<br><br> (vi) Contact;<br><br> (vii) Handle and follow up user
                communications regarding maintenance, inquiries and complaints;<br><br> (viii) Provide information about your products and services;<br><br> (ix) Promotion and direct promotion of the company’s publications, websites, services, classes,
                lectures, exchange meetings, activities and<br><br> (x) Market research and statistical analysis;<br><br> (xi) Manage this website, compile user statistics of this website, and monitor the usage and performance of this website;<br><br>                (xii) Direct marketing (see paragraph 5 of this privacy policy statement for details);<br><br> (xiii) Audit;<br><br> (xiv) Prompt our actual or proposed transferee, or our customer rights participant or affiliated participant to evaluate
                the proposal<br><br> (xv) Disclosure of information in accordance with any legal requirements binding on the company; and<br><br> (xvi) Uses related to the above items.<br><br> 3.2 When you provide us with your e-mail address to receive
                our optional e-mail, the company will use your e-mail address to send you an optional e-mail message. The company will also use this or any email address you provide to us to contact you and send you notifications about transactions or
                relationships, security updates and changes to your account status.<br><br> 3.3 If you use our services outside of Hong Kong, you confirm that you voluntarily send a message including your personal data to Hong Kong, and agree that the
                collection, use, storage and sharing of your personal data by the company is subject to Hong Kong and not yours. Regulated by the laws of the jurisdiction where it is located.<br><br> 4. Provide your personal data to third parties<br><br>                4.1 Except for the circumstances described in this privacy policy statement, under normal circumstances, the company will not share with others the personal information we collect about you when you use our products, services and websites.
                However, the company may transfer your personal data to the following companies or persons:<br><br> (i) The relevant bank for the payment;<br><br> (ii) Any director, staff or employee of the company or any person authorized by the company
                to conduct its business (such as<br><br> (iii) Our company’s agents, contractors or other services related to our business operations are required to provide us<br><br> (iv) Group members of the company;<br><br> (v) Any other person who
                is responsible for confidentiality of the company;<br><br> (vi) Any actual or proposed transferee of the company, or any participant of the company in relation to the rights of customers, attached<br><br> (vii) Court awards, government
                departments or statutory agencies instruct or require such information to be transmitted to people in accordance with relevant laws<br><br> (viii) Specific companies aim to provide you with service information that the company thinks will
                be of interest to you.<br><br> 4.2 This privacy policy statement does not apply to personal data that has been transmitted to third parties. The company will not be responsible for the protection or non-protection of relevant personal
                data.
                <br><br> 5. Use of Cookies<br><br> 5.1 The company will use cookies to make your subscription service have a more personalized experience. A cookie is a text file placed on your hard drive by a web server. Cookies can store user preferences
                and other information. Cookies cannot be used to run programs, nor can they spread viruses to your computer or mobile device. Cookies are uniquely assigned to you by the Web server, and only the Web server in the domain name can read the
                cookies issued by it.<br><br> 5.2 When you use the company’s website, products and/or service mobile applications, the company may automatically receive and record the information that our server obtains from your browser, including your
                IP address, cookies and your The requested page. This message may be used as:<br><br> (i) Identify you as an account user;<br><br> (ii) After a period of time has passed, the server will ask you to re-enter your password to protect your
                account information<br><br> (iii) Tracking your specified preferences when you use our website and apps;<br><br> (iv) Diagnose and prevent service or technical problems reported by our users or engineers;<br><br> (v) Estimate and report
                the total number of users who use the products, services and applications we provide in a specific geographic area<br><br> (vi) Conduct research to improve our services.<br><br> 5.3 You have the right to choose to accept or deactivate
                cookies. You can change your browser settings to accept all cookies, disable all cookies, or notify you when we set a cookie. Once you choose to disable all cookies, or specifically reject cookies set by our company, you may not be able
                to fully experience the interactive features of the services provided by our company.<br><br> 5.4 The company's manufacturers, service providers and business partners may set and access their cookies through our website and software applications.
                How other parties outside our company use their cookies and collect information are governed by their own company's privacy policy.<br><br> 6. Security of your personal data<br><br> 6.1 The company will make reasonable commercial efforts
                to avoid unauthorized access, use or disclosure of your personal information.<br><br> The company will make reasonable commercial efforts to ensure that the personally identifiable information you provide on the computer server is in a
                controllable and safe environment and will not be accessed, used or disclosed without authorization. When personal information (such as credit card number) is sent to other websites, such information will be protected by encryption, such
                as the SecureSocket Layer (SSL) protocol.<br><br> 6.2 Please remember that if you directly disclose your personally identifiable information through public message boards, forums, chat rooms, social networks or other places, the personal
                information you share is visible to other users. Other users can view, collect and/or use your personal data. In these cases, you are responsible for the personal information you provide.<br><br> 7. Third-party websites and services<br><br>                This website may contain hyperlinks to other websites that are not operated or monitored by the company. These websites are not regulated by this privacy policy statement, and the company is not responsible for the content of these websites
                or the policies used to process personal data. The company recommends that you carefully read the privacy policy statements used by these websites and find out how these websites protect your personal information and whether the relevant
                measures are safe and reliable.<br><br> 8. Access and change of your personal information<br><br> According to the "Personal Data (Privacy) Ordinance", you have the right to check with the company whether we hold your personal data, request
                these data and change any related inaccurate or outdated data. If you need to access and change your personal information, please email to info@intervii.com to contact us.<br><br> 9. Update of Statement<br><br> The company will update
                this privacy policy statement from time to time to reflect the company's service changes and customer feedback. Whether we notify you or not, we reserve the right to change the terms, conditions and notices of this privacy policy statement.<br><br>                We encourage you to review this privacy policy statement regularly to learn how our company protects your personal information. You are responsible for reading and complying with the latest version of the privacy policy statement. To the
                maximum extent permitted by law, if you continue to use the products, services and websites provided by the company, you agree to this privacy policy statement and any updates.<br><br> 10. Contact<br><br> If you have any questions about
                our privacy policy or data processing, please email us at info@intervii.com.

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>