<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                設計課堂單元
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Design course unit
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                设计课堂单元
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">

            <ion-row *ngFor="let i of multi_unit, let ind = index">
                <ion-col size="12">
                    <ion-row>
                        <ion-col size="8">影片標題</ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="DeleteUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="remove-circle"></ion-icon>
                        </ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="EditUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="create-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="12">
                            <ion-input [(ngModel)]="i.video_title" placeholder="輸入標題"></ion-input>
                        </ion-col>
                        <ion-col size="12" *ngIf="!i.active && course.status=='completed'" style="color:#f00;">影片已被停用，請聯絡cs@intervii.com</ion-col>
                    </ion-row>

                    <ion-row [ngSwitch]="i.video_type">
                        <ion-col size="12">
                            <ion-segment [(ngModel)]="i.video_type" style="padding-left: 0%;">
                                <ng-container *ngIf="i.video_type == 'recording'">
                                    <ion-segment-button value="recording">
                                        <img *ngIf="i.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                        <img *ngIf="i.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 錄製影片
                                    </ion-segment-button>
                                </ng-container>
                                <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                                    <ng-container *ngIf="i.video_type == 'live_streaming'">
                                        <ion-segment-button value="live_streaming">
                                            <img *ngIf="i.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                            <img *ngIf="i.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 直播影片
                                        </ion-segment-button>
                                    </ng-container>
                                </ng-container>
                            </ion-segment>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col size="12">
                    <ion-row *ngIf="i.video_type == 'recording'">
                        <ion-col size="6">上傳影片</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                            </ion-icon>
                            <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
            </ion-icon> -->
                        </ion-col>
                        <ng-container *ngIf="i.file_name != undefined && i.file_name != null && i.file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo(ind)"></ion-icon>
                            </ion-col>
                        </ng-container>

                        <ion-col size="6">上傳預覽影片</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo(ind)">
                            </ion-icon>
                        </ion-col>
                        <ng-container *ngIf="i.preview_file_name != undefined && i.preview_file_name != null && i.preview_file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.preview_file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo(ind)">
                                </ion-icon>
                            </ion-col>
                        </ng-container>
                        <ion-col size="6">影片長度(分鐘)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.duration" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="i.video_type == 'live_streaming'">
                        <ion-col size="6">
                            <ion-datetime placeholder="排期" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="i.live_streaming_date"></ion-datetime>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                            </ion-icon>
                        </ion-col>
                        <ion-col size="6">預計長度(分鐘)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_streaming_period" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                        <ion-col size="12">直播連結</ion-col>
                        <ion-col size="12" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_link" type="string" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">

            <ion-row *ngFor="let i of multi_unit, let ind = index">
                <ion-col size="12">
                    <ion-row>
                        <ion-col size="8">Video Title</ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="DeleteUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="remove-circle"></ion-icon>
                        </ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="EditUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="create-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="12">
                            <ion-input [(ngModel)]="i.video_title" placeholder="Title"></ion-input>
                        </ion-col>
                        <ion-col size="12" *ngIf="!i.active && course.status=='completed'" style="color:#f00;">Video has been inactive, please contact cs@intervii.com</ion-col>
                    </ion-row>

                    <ion-row [ngSwitch]="i.video_type">
                        <ion-col size="12">
                            <ion-segment [(ngModel)]="i.video_type" style="padding-left: 0%;">
                                <ng-container *ngIf="i.video_type == 'recording'">
                                    <ion-segment-button value="recording">
                                        <img *ngIf="i.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                        <img *ngIf="i.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> Record Video
                                    </ion-segment-button>
                                </ng-container>
                                <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                                    <ng-container *ngIf="i.video_type == 'live_streaming'">
                                        <ion-segment-button value="live_streaming">
                                            <img *ngIf="i.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                            <img *ngIf="i.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> Live Couse
                                        </ion-segment-button>
                                    </ng-container>
                                </ng-container>
                            </ion-segment>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col size="12">
                    <ion-row *ngIf="i.video_type == 'recording'">
                        <ion-col size="6">Upoad Video</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                            </ion-icon>
                            <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
            </ion-icon> -->
                        </ion-col>
                        <ng-container *ngIf="i.file_name != undefined && i.file_name != null && i.file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo(ind)"></ion-icon>
                            </ion-col>
                        </ng-container>

                        <ion-col size="6">Upload Preview video</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo(ind)">
                            </ion-icon>
                        </ion-col>
                        <ng-container *ngIf="i.preview_file_name != undefined && i.preview_file_name != null && i.preview_file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.preview_file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo(ind)">
                                </ion-icon>
                            </ion-col>
                        </ng-container>
                        <ion-col size="6">Video length(Minutes)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.duration" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="i.video_type == 'live_streaming'">
                        <ion-col size="6">
                            <ion-datetime placeholder="Schedule" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="i.live_streaming_date"></ion-datetime>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                            </ion-icon>
                        </ion-col>
                        <ion-col size="6">Video length(Minutes)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_streaming_period" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                        <ion-col size="12">Live link</ion-col>
                        <ion-col size="12" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_link" type="string" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">

            <ion-row *ngFor="let i of multi_unit, let ind = index">
                <ion-col size="12">
                    <ion-row>
                        <ion-col size="8">影片标题</ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="DeleteUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="remove-circle"></ion-icon>
                        </ion-col>
                        <ion-col size="2" class="ion-text-center" *ngIf="course.status=='incomplete' || (course.status=='completed' && i.video_type=='recording')">
                            <ion-icon (click)="EditUnit(ind)" style="font-size: 1.4rem; color: white !important;" name="create-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="12">
                            <ion-input [(ngModel)]="i.video_title" placeholder="输入标题"></ion-input>
                        </ion-col>
                        <ion-col size="12" *ngIf="!i.active && course.status=='completed'" style="color:#f00;">影片已被停用，请联络cs@intervii.com</ion-col>
                    </ion-row>

                    <ion-row [ngSwitch]="i.video_type">
                        <ion-col size="12">
                            <ion-segment [(ngModel)]="i.video_type" style="padding-left: 0%;">
                                <ng-container *ngIf="i.video_type == 'recording'">
                                    <ion-segment-button value="recording">
                                        <img *ngIf="i.video_type == 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                        <img *ngIf="i.video_type != 'recording'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 录制影片
                                    </ion-segment-button>
                                </ng-container>
                                <ng-container *ngIf="global_service.user_data.zoom_ac != undefined && global_service.user_data.zoom_ac != null && global_service.user_data.zoom_ac != ''">
                                    <ng-container *ngIf="i.video_type == 'live_streaming'">
                                        <ion-segment-button value="live_streaming">
                                            <img *ngIf="i.video_type == 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio_selected.png">
                                            <img *ngIf="i.video_type != 'live_streaming'" style="width: 1.2rem;" src="assets/imgs/ratio.png"> 直播影片
                                        </ion-segment-button>
                                    </ng-container>
                                </ng-container>
                            </ion-segment>
                        </ion-col>
                    </ion-row>
                </ion-col>

                <ion-col size="12">
                    <ion-row *ngIf="i.video_type == 'recording'">
                        <ion-col size="6">上传影片</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload">
                            </ion-icon>
                            <!-- <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadVideo()">
            </ion-icon> -->
                        </ion-col>
                        <ng-container *ngIf="i.file_name != undefined && i.file_name != null && i.file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayVideo(ind)"></ion-icon>
                            </ion-col>
                        </ng-container>

                        <ion-col size="6">上传预览影片</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="cloud-upload" (click)="CallLoadPreviewVideo(ind)">
                            </ion-icon>
                        </ion-col>
                        <ng-container *ngIf="i.preview_file_name != undefined && i.preview_file_name != null && i.preview_file_name != ''">
                            <ion-col size="10" class="text_overflow_dot">
                                {{i.preview_file_name}}</ion-col>
                            <ion-col size="2" class="ion-text-right">
                                <ion-icon style="font-size: 1.4rem; color: white !important;" name="play" (click)="PlayPreviewVideo(ind)">
                                </ion-icon>
                            </ion-col>
                        </ng-container>
                        <ion-col size="6">影片长度(分钟)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.duration" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="i.video_type == 'live_streaming'">
                        <ion-col size="6">
                            <ion-datetime placeholder="排期" displayFormat="MMM DD, YYYY HH:mm" display-timezone="utc" [(ngModel)]="i.live_streaming_date"></ion-datetime>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-icon style="font-size: 1.4rem; color: white !important;" name="alarm">
                            </ion-icon>
                        </ion-col>
                        <ion-col size="6">预计长度(分钟)</ion-col>
                        <ion-col size="6" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_streaming_period" type="number" min="0" text-right>
                            </ion-input>
                        </ion-col>
                        <ion-col size="12">直播连结</ion-col>
                        <ion-col size="12" class="ion-text-right">
                            <ion-input [(ngModel)]="i.live_link" type="string" min="0" text-right>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ng-container>


        <ion-row class="ion-margin ion-padding">
            <ion-col size="12">
                <ion-button style="--background-focused: transparent; --background-activated: transparent; --background: transparent; border: 2px dashed white;" expand="block" (click)="AddUnit()">+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col size="12">
            <ion-button expand="full" class="submit_btn" (click)="Dismiss()">{{button_text}}</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>