<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor={0.5} pullMin={100} pullMax={200}>
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-header collapse="condense" *ngIf="platform.is('ios')" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            已購買課堂
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Purchased Course
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            已购买课堂
                        </ng-container>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            我的課堂
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            My Course
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            我的课堂
                        </ng-container>
                    </ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="!platform.is('ios')" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="first_tab" mode="md">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            已購買課堂
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Purchased Course
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            已购买课堂
                        </ng-container>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ion-label>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            我的課堂
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            My Course
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            我的课堂
                        </ng-container>
                    </ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>

    <ion-grid fixed>
        <ion-row *ngIf="chatrooms.length == 0">
            <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    沒有對話
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    No Chat
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    没有对话
                </ng-container>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="current_tab=='first_tab'">
            <ion-col size="12">
                <ion-card style="height: 5rem !important; margin-bottom: 1rem;" class="ion-no-margin lesson_card" *ngFor="let l of chatrooms" (click)="GoChat(l)" [ngStyle]="{'background':  (l.course_data.icon!=null && l.course_data.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.course_data.icon+')' : 'url(assets/imgs/banner.jpg)' )}">
                    <ion-row style="height: 100%;">
                        <ion-col offset="0.5" size="8.5" class="ion-align-self-center">
                            {{l.course_data.title}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img *ngIf="l.lecturer_data.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="l.lecturer_data.icon !=''" src="https://intervii.com/media/{{l.lecturer_data.icon}}">
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="l.user_unread == true" style="width: 0.6rem; height: 0.6rem; border-radius: 50%; background-color: #f00; top: 1rem; right: 1rem; z-index: 100; position: absolute;">
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="current_tab=='second_tab'">
            <ion-col size="12">
                <ion-card style="height: 5rem !important; margin-bottom: 1rem;" class="ion-no-margin lesson_card" *ngFor="let l of chatrooms" (click)="GoChat(l)" [ngStyle]="{'background':  (l.course_data.icon!=null && l.course_data.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.course_data.icon+')' : 'url(assets/imgs/banner.jpg)' )}">
                    <ion-row style="height: 100%;">
                        <ion-col offset="0.5" size="8.5" class="ion-align-self-center">
                            {{l.course_data.title}}
                        </ion-col>
                        <ion-col size="3">
                            <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                <img *ngIf="l.user_data?.icon ==''" src="assets/imgs/template_icon.jpg">
                                <img *ngIf="l.user_data?.icon !=''" src="https://intervii.com/media/{{l?.user_data?.icon}}">
                            </ion-avatar>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="l.lecturer_unread == true" style="width: 0.6rem; height: 0.6rem; border-radius: 50%; background-color: #f00; top: 1rem; right: 1rem; z-index: 100; position: absolute;">
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>