<ion-header no-border [translucent]="true">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
      <ion-button style="border-radius: 5px; background: var(--ion-color-major); --color: white;"
        (click)="CheckTabChange('third_tab')">
        LIVE
      </ion-button>
    </ion-buttons> -->
        <ion-buttons slot="end">
            <ion-button (click)="chat()" *ngIf="global_service.user_data != undefined && global_service.user_data != null && global_service.user_data.id!= undefined && global_service.user_data.id != null && global_service.user_data.id > 0">
                <ion-icon class="icon" name="chatbubbles"></ion-icon>
                <div *ngIf="global_service.unread_count > 0" style="width: 1rem; height: 1rem; border-radius: 50%; background-color: #f00; top: 0rem; right: 0rem; z-index: 100; position: absolute; color:#fff; font-size:0.75rem;">{{global_service.unread_count}}</div>
            </ion-button>
            <ion-button *ngIf="global_service.user_id == 0 || this.global_service.user_id == undefined" (click)="GoSetting()">
                <ion-icon slot="icon-only" style="font-size: 1.4rem;" name="settings"></ion-icon>
            </ion-button>
            <ion-button *ngIf="global_service.user_id == 0 || this.global_service.user_id == undefined" (click)="Login()">
                <ion-icon class="icon" name="person"></ion-icon>
            </ion-button>
            <ion-avatar *ngIf="global_service.user_id != undefined && global_service.user_id != 0 && global_service.user_data != undefined && global_service.user_data != null" style="border: 2px solid white; width: 1.8rem; height: 1.8rem;" (click)="Login()">
                <img *ngIf="global_service.user_data.icon==null || global_service.user_data.icon==''" src="../assets/imgs/template_icon.jpg">
                <img *ngIf="global_service.user_data.icon!=null && global_service.user_data.icon!=''" [src]="'https://intervii.com/media/' + global_service.user_data.icon">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="didScroll()">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="color:#fff;" pullFactor={0.5} pullMin={100} pullMax={200}>
        <!-- <ion-refresher-content></ion-refresher-content> -->
    </ion-refresher>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="下拉更新" refreshingSpinner="circles" refreshingText="讀取中...">
        </ion-refresher-content>
    </ion-refresher> -->
    <ion-header collapse="condense" *ngIf="platform.is('ios')" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="first_tab" mode="md">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-label>最新</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-label>Latest</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-label>最新</ion-label>
                    </ng-container>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-label>試堂</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-label>Preview</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-label>试堂</ion-label>
                    </ng-container>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-button style="border-radius: 5px; --background: var(--ion-color-major); --color: white;" disabled>
                        LIVE
                    </ion-button>
                </ion-segment-button>
                <ion-segment-button value="forth_tab" mode="md" (click)="searchClick()">
                    <ion-icon name="filter-outline"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>
    <ion-header *ngIf="!platform.is('ios')" no-border>
        <ion-toolbar>
            <ion-segment mode="md" [value]="current_tab" (ionChange)="segmentChanged($event)">
                <ion-segment-button value="first_tab" mode="md">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-label>最新</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-label>Latest</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-label>最新</ion-label>
                    </ng-container>
                </ion-segment-button>
                <ion-segment-button value="second_tab" mode="md">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        <ion-label>試堂</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        <ion-label>Preview</ion-label>
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        <ion-label>试堂</ion-label>
                    </ng-container>
                </ion-segment-button>
                <ion-segment-button value="third_tab" mode="md">
                    <ion-button style="border-radius: 5px; --background: var(--ion-color-major); --color: white;" disabled>
                        LIVE
                    </ion-button>
                </ion-segment-button>
                <ion-segment-button value="forth_tab" mode="md" (click)="searchClick()">
                    <ion-icon name="filter-outline"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>



    <ion-grid fixed>
        <ion-row *ngIf="connecting_server == false && (current_course.length == 0 || (current_course_tag=='分類' && current_course.length == 0 && searched==true))">
            <ion-col size="12" class="ion-text-center" style="color: white; font-size: 1.2rem;">{{missing_text}}</ion-col>
        </ion-row>

        <ion-row *ngIf="current_course_tag=='分類' && connecting_server == false && current_course.length == 0 && searched==false">
            <ion-col size="12">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-label>分類</ion-label>
                    <ion-select [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                        <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_zh}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-label>Category</ion-label>
                    <ion-select [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                        <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_en}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-label>分类</ion-label>
                    <ion-select [(ngModel)]="data_ready.type" name="type" ngDefaultControl>
                        <ion-select-option *ngFor="let n of global_service.categories" value="{{n.id}}">{{n.name_cn}}</ion-select-option>
                    </ion-select>
                </ng-container>

            </ion-col>
            <ion-col size="12">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-label>課堂類別</ion-label>
                    <ion-select [(ngModel)]="data_ready.course_categories" name="course_categories" ngDefaultControl>
                        <ion-select-option value="所有類別">所有課堂類別</ion-select-option>
                        <ion-select-option *ngFor="let n of ['直播','影片']" value="{{n}}">{{n}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-label>Category</ion-label>
                    <ion-select [(ngModel)]="data_ready.course_categories" name="course_categories" ngDefaultControl>
                        <ion-select-option value="所有類別">All</ion-select-option>
                        <ion-select-option *ngFor="let n of [{'key':'直播','display':'Live'},{'key':'影片','display':'Video'}]" value="{{n.key}}">{{n.display}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-label>课堂类别</ion-label>
                    <ion-select [(ngModel)]="data_ready.course_categories" name="course_categories" ngDefaultControl>
                        <ion-select-option value="所有類別">所有课堂类别</ion-select-option>
                        <ion-select-option *ngFor="let n of ['直播','影片']" value="{{n}}">{{n}}</ion-select-option>
                    </ion-select>
                </ng-container>





            </ion-col>
            <ion-col size="12">

                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    <ion-label>排序</ion-label>
                    <ion-select [(ngModel)]="data_ready.sort" name="sort" ngDefaultControl>
                        <ion-select-option value="由最新">由最新</ion-select-option>
                        <ion-select-option *ngFor="let n of ['由最早的','由最流行','由最好評價']" value="{{n}}">{{n}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    <ion-label>Order</ion-label>
                    <ion-select [(ngModel)]="data_ready.sort" name="sort" ngDefaultControl>
                        <ion-select-option value="由最新">Latest</ion-select-option>
                        <ion-select-option *ngFor="let n of [{'key':'由最早的','display':'From earliest'},{'key':'由最流行','display':'Popular'},{'key':'由最好評價','display':'Best'}]" value="{{n.key}}">{{n.display}}</ion-select-option>
                    </ion-select>
                </ng-container>
                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    <ion-label>排序</ion-label>
                    <ion-select [(ngModel)]="data_ready.sort" name="sort" ngDefaultControl>
                        <ion-select-option value="由最新">由最新</ion-select-option>
                        <ion-select-option *ngFor="let n of [{'key':'由最早的','display':'由最早的'},{'key':'由最流行','display':'由最流行'},{'key':'由最好評價','display':'由最好评价'}]" value="{{n.key}}">{{n.display}}</ion-select-option>
                    </ion-select>
                </ng-container>

            </ion-col>
            <ion-col>
                <ion-button style="--background-focused: var(--ion-color-major); --background-activated: var(--ion-color-major);	--background: var(--ion-color-major);" expand="block" (click)="InitFilter()">
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                        搜尋
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                        Search
                    </ng-container>
                    <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                        搜寻
                    </ng-container>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="current_course_tag=='試堂' && connecting_server == false && searched==false">
            <!-- [style.display]="( ? 'none' : 'block')" -->
            <ion-col size="12" *ngFor="let video of all_video_data; let i = index">
                <ion-row style="align-content: center; border-radius: 10px; max-height: 50vh;" *ngIf="i <= show_preview_count ">
                    <ng-container *ngIf="video.preview_file_vimeo != undefined && video.preview_file_vimeo != null && video.preview_file_vimeo != ''">
                        <ion-col size="12">
                            <iframe class="preview_video" [src]="video.vimeo_safe_link" scrolling="no" frameborder="0"></iframe>
                        </ion-col>
                    </ng-container>
                    <ng-container *ngIf="!(video.preview_file_vimeo != undefined && video.preview_file_vimeo != null && video.preview_file_vimeo != '')">
                        <ion-col size="12" (click)="openFullscreen(player)">
                            <video #player (canplay)="videoLoaded(video.id)" playsinline preload="auto" type="video/mp4" class="preview_video">
                            <source [src]="'https://intervii.com/media/'+video.preview_file_name" type="video/mp4" />
                            </video>
                        </ion-col>
                    </ng-container>
                    <ion-col size="9" class="text_overflow_dot">
                        {{video.title}}
                    </ion-col>
                    <ion-col size="3" class="ion-text-center" (click)="OpenCourse(null, video.id)">
                        <ion-icon style="font-size: 1.6rem; vertical-align: middle;" src="../assets/icon/lesson-icon.svg">
                        </ion-icon>
                    </ion-col>
                    <ion-col size="12"></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="current_course_tag=='試堂' && connecting_server == true && searched==false">
            <ion-col size="12">
                <ion-row style="align-content: center; border-radius: 10px; max-height: 50vh;">
                    <ion-col size="12">
                        <img class="preview_video" src="assets/imgs/loading_bg.png">
                    </ion-col>
                    <ion-col size="9" class="text_overflow_dot">
                        -----
                    </ion-col>
                    <ion-col size="3" class="ion-text-center">
                        <ion-icon style="font-size: 1.6rem; vertical-align: middle;" src="../assets/icon/lesson-icon.svg">
                        </ion-icon>
                    </ion-col>

                    <ion-col size="12"></ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="12">
                <ion-row style="align-content: center; border-radius: 10px; max-height: 50vh;">
                    <ion-col size="12">
                        <img class="preview_video" src="assets/imgs/loading_bg.png">
                    </ion-col>
                    <ion-col size="9" class="text_overflow_dot">
                        -----
                    </ion-col>
                    <ion-col size="3" class="ion-text-center">
                        <ion-icon style="font-size: 1.6rem; vertical-align: middle;" src="../assets/icon/lesson-icon.svg">
                        </ion-icon>
                    </ion-col>

                    <ion-col size="12"></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="connecting_server == false && (current_course_tag=='最新' || current_course_tag=='直播' || searched == true)">
            <ion-virtual-scroll [items]="current_course">
                <ion-col size="12" *virtualItem="let l">
                    <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background':  (l.icon!=null && l.icon!='' ? 'linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 60%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.01) 80%, rgba(0, 0, 0, 0.7) 100%), url(https://intervii.com/media/'+l.icon+')' : 'url(assets/imgs/banner.jpg)' )}"
                        (click)="OpenCourse(l)">
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline">
                                </ion-icon>
                                <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                    {{l.total_duration}}</ion-label>
                            </ion-col>
                            <ion-col size="1.5">
                                <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && !user_data.follow_course.includes(l.id)" src="assets/imgs/favorite.png">
                                <img style="width: 1.2rem; vertical-align: middle;" (click)="$event.stopPropagation();AddFavouriteCourse(l.id)" *ngIf="user_data!=undefined && user_data!=null && user_data!=0 && user_data.follow_course.includes(l.id)" src="assets/imgs/favorite_active.png">
                            </ion-col>
                            <ion-col size="7.5" class="ion-text-right">
                                <ion-chip *ngIf="l.has_live" style="--background: var(--ion-color-major); --color: white; border-radius: 5px; ">
                                    <ion-label>LIVE</ion-label>
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                        <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                            <ion-col size="12" class="ion-text-center">
                                <ion-avatar style="width: 3.4rem; height: 3.4rem;" (click)="$event.stopPropagation();GoProfile(l.lecturer_id)">
                                    <img *ngIf="l.lecturer_icon==''" src="assets/imgs/template_icon.jpg">
                                    <img *ngIf="l.lecturer_icon!=''" src="https://intervii.com/media/{{l.lecturer_icon}}">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="12" style="color: white; font-size: 1.2rem;">
                                {{l.title}}
                            </ion-col>
                            <ion-col size="8">
                                <ng-container *ngFor="let number of [0,1,2,3,4]">
                                    <img style="width: 1.2rem;" *ngIf="number < l.rank && number+0.5 != l.rank" src="assets/imgs/heart.png">
                                    <img style="width: 1.2rem;" *ngIf="number+0.5 == l.rank" src="assets/imgs/halfheart.png">
                                    <img style="width: 1.2rem;" *ngIf="number+0.5 > l.rank && number+0.5 != l.rank" src="assets/imgs/greyheart.png">
                                </ng-container>
                            </ion-col>
                            <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                                    {{(l.price == 3 ? '免費' : ('HK$' + price_list[l.price]))}}
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                                    {{(l.price == 3 ? 'Free' : ('HK$' + price_list[l.price]))}}
                                </ng-container>
                                <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                                    {{(l.price == 3 ? '免费' : ('HK$' + price_list[l.price]))}}
                                </ng-container>
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ion-col>
            </ion-virtual-scroll>
        </ion-row>

        <ion-row *ngIf="connecting_server == true && (current_course_tag=='最新' || current_course_tag=='直播' || searched == true)">
            <ion-virtual-scroll>
                <ion-col size="12">
                    <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background': 'url(assets/imgs/loading_bg.png)' }">
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline">
                                </ion-icon>
                                <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                    0</ion-label>
                            </ion-col>
                            <ion-col size="1.5">
                                <img style="width: 1.2rem; vertical-align: middle;" src="assets/imgs/favorite.png">
                            </ion-col>
                        </ion-row>
                        <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                            <ion-col size="12" class="ion-text-center">
                                <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                    <img src="assets/imgs/template_icon.jpg">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="12" style="color: white; font-size: 1.2rem;">
                                -----
                            </ion-col>
                            <ion-col size="8">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            </ion-col>
                            <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                                HK$ --
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ion-col>
                <ion-col size="12">
                    <ion-card class="ion-no-margin lesson_card" [ngStyle]="{'background': 'url(assets/imgs/loading_bg.png)'}">
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon style="color: white; font-size: 1.4rem; vertical-align: middle;" name="time-outline">
                                </ion-icon>
                                <ion-label style="color: white; font-size: 1rem; vertical-align: middle;">
                                    0</ion-label>
                            </ion-col>
                            <ion-col size="1.5">
                                <img style="width: 1.2rem; vertical-align: middle;" src="assets/imgs/favorite.png">
                            </ion-col>
                        </ion-row>
                        <ion-row style="position: absolute; bottom: 0rem; width: 100%;">
                            <ion-col size="12" class="ion-text-center">
                                <ion-avatar style="width: 3.4rem; height: 3.4rem;">
                                    <img src="assets/imgs/template_icon.jpg">
                                </ion-avatar>
                            </ion-col>
                            <ion-col size="12" style="color: white; font-size: 1.2rem;">
                                -----
                            </ion-col>
                            <ion-col size="8">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                                <img style="width: 1.2rem;" src="assets/imgs/greyheart.png">
                            </ion-col>
                            <ion-col size="4" class="ion-text-right" style="font-size: 1.1rem; padding-right: 1rem; color: var(--ion-color-success);">
                                HK$ --
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ion-col>
            </ion-virtual-scroll>
        </ion-row>

        <ion-infinite-scroll position="bottom" threshold="300px" (ionInfinite)="loadData($event)" *ngIf="current_course_tag=='試堂' && connecting_server == false && searched==false">
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加載更多影片">
                </ion-infinite-scroll-content>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Load more video">
                </ion-infinite-scroll-content>
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多影片">
                </ion-infinite-scroll-content>
            </ng-container>

        </ion-infinite-scroll>
    </ion-grid>

    <div class="sticky-video" #stickyplayer [hidden]="!stickyVideo">
        <div class="sticky-controls" *ngIf="stickyVideo">
            <ion-row class="ion-no-padding">
                <ion-col size="4">
                    <ion-button size="small" (click)="playOrPauseSticky()" fill="clear">
                        <ion-icon slot="icon-only" [name]="stickyPlaying ? 'pause': 'play'"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button size="small" (click)="openFullscreen(stickyVideo)" fill="clear">
                        <ion-icon slot="icon-only" name="expand"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button size="small" (click)="closeSticky()" fill="clear">
                        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>