.sticky-video {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    left: 50%;
    width: 10rem;
    height: 10rem;
    background: var(--ion-color-background-tint);
    video {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .7);
    }
}

.sticky-controls {
    // background-image: url();
    background: var(--ion-color-background-tint);
    position: absolute;
    top: 0px;
    z-index: 2;
    widows: 100%;
}

video {
    // background-image: url('../../assets/imgs/loading_bg.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
}

.android ion-content {}

.lesson_card {
    background-position: center !important;
}