<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode='md' text="">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                忘記密碼
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                Forget Password
            </ng-container>
            <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                忘记密码
            </ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label class="input_title" position="floating">
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                            電郵地址
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                            Email
                        </ng-container>
                        <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                            电邮地址
                        </ng-container>
                    </ion-label>
                    <ion-input type="email" [(ngModel)]="email" placeholder=""></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row style="margin-top: 4rem;">
            <ion-col size="12">
                <button (click)="Reset()" style="background: var(--ion-color-major); width: 100%; padding: 1rem; color: white; font-size: 1.1rem;">
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && (global_service.lang == '' || global_service.lang == 'zh')">
                    發送
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'en'">
                    Send
                  </ng-container>
                  <ng-container *ngIf="global_service.lang != undefined && global_service.lang != null && global_service.lang == 'cn'">
                    发送
                  </ng-container></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>